thesis project/pmt/MVP/Phase-1/workflows/phase1-2-postgres.json
{
  "name": "phase1-2-postgres",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "personality-chat-enhanced",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3586515f-519e-4b85-87f7-88253ac26686",
      "name": "Webhook Trigger (POST Zurich)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1088,
        -416
      ],
      "webhookId": "aba65e1e-4f3d-4d02-9728-cba45312e20f"
    },
    {
      "parameters": {
        "jsCode": "// PHASE 1: ENHANCED INGEST WITH SESSION MANAGEMENT - FIXED\n// Validates input, retrieves historical state, prepares for EMA smoothing\n\n// Handle both webhook ($json.body) and manual trigger ($json) inputs\nconst inputData = $json.body || $json || {};\n\n// CRITICAL FIX: Handle empty session_id strings (not just undefined)\nconst rawSessionId = inputData.session_id || $json.session_id;\nconst sessionId = (rawSessionId && rawSessionId.trim()) ? rawSessionId : `session-${Date.now()}`;\n\n// Debug logging\nconsole.log('📥 RAW INPUT - $json keys:', Object.keys($json));\nconsole.log('📥 inputData keys:', Object.keys(inputData));\nconsole.log('📥 Raw session_id:', rawSessionId);\nconsole.log('📥 Final session_id:', sessionId);\nconst messages = inputData.messages || [];\nconst evaluationMode = inputData.evaluation_mode || false;\nconst turnIndex = inputData.turn_index || 1;\nconst apiRequest = inputData.api_request || false;\nconst directMessage = inputData.message || '';\n\nconsole.log('📥 ENHANCED INGEST - Session:', sessionId, 'Turn:', turnIndex);\nconsole.log('🔗 API Request:', apiRequest);\nconsole.log('📝 Messages count:', messages.length);\nconsole.log('💬 Direct message:', !!directMessage);\n\n// Extract conversation components\nlet assistantStart = '';\nlet userMessage = '';\n\n// Handle both structured messages and direct message input\nif (directMessage) {\n  userMessage = directMessage;\n  assistantStart = \"I'm here to listen and support you. How are you feeling today?\";\n} else {\n  for (const msg of messages) {\n    if (msg.role === 'assistant' && msg.turn === 1) {\n      assistantStart = msg.content;\n    }\n    if (msg.role === 'user' && msg.turn === 2) {\n      userMessage = msg.content;\n    }\n  }\n}\n\n// Fallbacks\nif (!assistantStart) assistantStart = \"I'm here to listen and support you. How are you feeling today?\";\nif (!userMessage) {\n  userMessage = 'Hello, I could use some support today.';\n}\n\nconsole.log('🤖 Assistant start:', assistantStart.substring(0, 50) + '...');\nconsole.log('👤 User message length:', userMessage.length);\n\n// Enhanced message analysis for EMA preparation\nconst messageAnalysis = {\n  word_count: userMessage.split(/\\s+/).length,\n  contains_negative_sentiment: /doesn\\'t.*(?:fix|help|work)|tired.*of|nothing.*(?:feels|seems).*(?:right|fine)|pretending.*fine.*not/i.test(userMessage),\n  contains_resistance: /(?:listening|talking).*doesn\\'t.*(?:fix|help)|people.*say.*like.*magical|before.*you.*say|not.*in.*the.*mood/i.test(userMessage),\n  emotional_intensity: userMessage.includes('*') || userMessage.split('...').length > 2 || userMessage.includes('!!!') ? 'high' : 'moderate',\n  preliminary_analysis: true,\n  conversation_turn: turnIndex\n};\n\n// Prepare enhanced result with Phase 1 enhancements\nconst result = {\n  // Core session data\n  session_id: sessionId,\n  turn_index: turnIndex,\n  clean_msg: userMessage,\n  assistant_start: assistantStart,\n  evaluation_mode: evaluationMode,\n  api_request: apiRequest,\n  \n  // Conversation context for personality detection\n  conversation_context: `assistant: ${assistantStart}\\nuser: ${userMessage}`,\n  \n  // Enhanced message analysis\n  message_analysis: messageAnalysis,\n  \n  // Phase 1 preparation flags\n  phase1_enhancements: {\n    ema_smoothing_ready: true,\n    verification_enabled: true,\n    database_persistence: true,\n    webhook_api_enabled: apiRequest,\n    webhook_method_fixed: true\n  },\n  \n  // Raw messages array for reference\n  messages: messages,\n  \n  // Timestamps\n  ingested_at: new Date().toISOString(),\n  \n  // Initialize pipeline state objects (will be populated by subsequent nodes)\n  detector: {\n    raw_response: null,\n    api_status: 'pending',\n    ema_ready: true\n  },\n  regulator: {\n    raw_directives: null,\n    zurich_applied: false\n  },\n  generator: {\n    raw_response: null,\n    api_status: 'pending'\n  },\n  verifier: {\n    verification_status: 'pending',\n    refinement_needed: false\n  },\n  database: {\n    persistence_status: 'pending'\n  }\n};\n\nconsole.log('✅ Enhanced ingest completed - ready for EMA smoothing');\n\nreturn [{ json: result }];"
      },
      "id": "db69ff14-885b-458a-b20c-ecb1a85623b2",
      "name": "Enhanced Ingest (Zurich)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -672
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM get_latest_personality_state('{{ $json.session_id }}')",
        "options": {}
      },
      "id": "f12d0b8e-c323-4971-97b0-f0926277f032",
      "name": "Load Previous State (PostgreSQL)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -656,
        -880
      ],
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "yb6okblfYr9UPDkW",
          "name": "personality-chat-db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge loaded personality state with input data\nconst allInputs = $input.all();\n\nconsole.log('🔄 MERGE STATE - Total inputs:', allInputs.length);\n\n// Identify which input is from Enhanced Ingest vs PostgreSQL\n// Enhanced Ingest has: session_id, clean_msg, conversation_context\n// PostgreSQL has: ocean_o, ocean_c, ocean_e, etc.\nlet inputData = {};\nlet dbResults = [];\n\nfor (const input of allInputs) {\n  const data = input?.json;\n  if (!data) continue;\n  \n  // Check if this is Enhanced Ingest data (has conversation_context, which is unique to ingest)\n  // Note: session_id might be empty string before fix, so check conversation_context instead\n  if (data.conversation_context !== undefined) {\n    inputData = data;\n    console.log('✅ Found Enhanced Ingest data (session_id:', data.session_id || 'MISSING', ')');\n  }\n  // Check if this is PostgreSQL data (has ocean_o, ocean_c fields)\n  else if (data.ocean_o !== undefined || (Array.isArray(data) && data[0]?.ocean_o !== undefined)) {\n    // Handle array or single object\n    if (Array.isArray(data)) {\n      dbResults = data;\n    } else {\n      dbResults = [data];\n    }\n    console.log('✅ Found PostgreSQL data');\n  }\n  // Check for wrapped format { data: [...] }\n  else if (data.data && Array.isArray(data.data)) {\n    dbResults = data.data;\n    console.log('✅ Found PostgreSQL data (wrapped)');\n  }\n}\n\n// Fallback: if we didn't identify correctly, use order-based approach\nif (!inputData.conversation_context && allInputs.length > 0) {\n  console.log('⚠️ Using fallback - assuming first input is Enhanced Ingest');\n  inputData = allInputs[0]?.json || {};\n}\n\nconsole.log('🔄 MERGE STATE - DB Results found:', dbResults.length);\nif (dbResults.length > 0) {\n  console.log('🔄 MERGE STATE - DB result keys:', Object.keys(dbResults[0]).slice(0, 5).join(', '));\n}\n\nlet previousOcean = { O: 0, C: 0, E: 0, A: 0, N: 0 };\nlet previousConfidence = { O: 0.5, C: 0.5, E: 0.5, A: 0.5, N: 0.5 };\nlet previousTurnIndex = 0;\nlet previousStable = false;\n\nif (dbResults.length > 0) {\n  const state = dbResults[0];\n  previousOcean = {\n    O: state.ocean_o || 0,\n    C: state.ocean_c || 0,\n    E: state.ocean_e || 0,\n    A: state.ocean_a || 0,\n    N: state.ocean_n || 0\n  };\n  previousConfidence = {\n    O: state.confidence_o || 0.5,\n    C: state.confidence_c || 0.5,\n    E: state.confidence_e || 0.5,\n    A: state.confidence_a || 0.5,\n    N: state.confidence_n || 0.5\n  };\n  previousTurnIndex = state.turn_index || 0;\n  previousStable = state.stable || false;\n  \n  console.log('✅ Loaded previous state from turn:', previousTurnIndex);\n  console.log('✅ Previous OCEAN:', JSON.stringify(previousOcean));\n  console.log('✅ Previous stable:', previousStable);\n} else {\n  console.log('📝 No previous state found - starting fresh');\n}\n\n// IMPORTANT: Merge previous_state into inputData, not the other way around!\nconst result = {\n  ...inputData,  // This should be Enhanced Ingest data\n  previous_state: {\n    ocean: previousOcean,\n    confidence: previousConfidence,\n    turn_index: previousTurnIndex,\n    stable: previousStable,\n    loaded_from_db: dbResults.length > 0\n  }\n};\n\n// Verify we're returning the right data\nif (!result.session_id) {\n  console.log('❌ ERROR: Result missing session_id! Input data was wrong.');\n  console.log('❌ inputData keys:', Object.keys(inputData).join(', '));\n} else {\n  console.log('✅ Merge complete - session_id:', result.session_id);\n  console.log('✅ Previous state attached, loaded_from_db:', result.previous_state.loaded_from_db);\n}\n\nreturn [{ json: result }];"
      },
      "id": "e64998f6-fff5-47de-a98a-8b004f02c8ff",
      "name": "Merge Previous State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "// PHASE 1: PERSONALITY DETECTION WITH EMA SMOOTHING - ACTUAL IMPLEMENTATION\n// Detects OCEAN personality traits and applies EMA smoothing for stability\n\nconst inputData = $input.first().json;\nconst sessionId = inputData.session_id;\nconst turnIndex = inputData.turn_index || 1;\nconst conversationContext = inputData.conversation_context || '';\nconst userMessage = inputData.clean_msg || '';\n\nconsole.log('🧠 PERSONALITY DETECTION - Turn:', turnIndex);\nconsole.log('📝 Context length:', conversationContext.length);\n\n// ZURICH MODEL Detection Prompt - Continuous Values\nconst detectionPrompt = `Analyze the following conversation using the Zurich Model framework for personality assessment. Evaluate the user's Big Five traits by examining their underlying motivational needs for SECURITY, AROUSAL, and POWER, along with their coping strategies and approach-avoidance patterns.\n\n**ASSESSMENT FRAMEWORK:**\n\n**Openness (Arousal System):**\nExamine the user's need for cognitive and experiential arousal:\n• HIGH (>0.5): Seeks novelty, cognitive stimulation, new perspectives; shows curiosity about possibilities; embraces uncertainty as stimulating\n• LOW (<-0.5): Prefers familiar patterns; avoids cognitive overload; finds comfort in routine; shows resistance to new ideas that disrupt mental equilibrium\n• NEUTRAL (-0.5 to 0.5): Balanced or no clear preference pattern evident\n\n**Conscientiousness (Security & Control System):**\nAssess need for structure, predictability, and behavioral control:\n• HIGH (>0.5): Seeks security through organization and planning; shows systematic approach to problems; values reliability and achievement as sources of stability\n• LOW (<-0.5): Prefers flexible, spontaneous adaptation; avoids rigid structures; shows accommodative coping (adjusting goals rather than pursuing them systematically)\n• NEUTRAL (-0.5 to 0.5): Balanced or no clear organizational preference evident\n\n**Extraversion (Social Arousal & Power System):**\nEvaluate approach vs. avoidance in social energy and stimulation seeking:\n• HIGH (>0.5): Approaches social situations for stimulation; seeks social influence and connection; energized by interpersonal engagement\n• LOW (<-0.5): Avoids high-stimulation social environments; prefers controlled, low-intensity social contact; seeks solitude for regulation\n• NEUTRAL (-0.5 to 0.5): Balanced or no clear social energy pattern evident\n\n**Agreeableness (Affiliation & Security System):**\nAnalyze approach vs. avoidance in interpersonal bonding and cooperation:\n• HIGH (>0.5): Approaches others with trust and empathy; seeks harmony and mutual support; prioritizes group cohesion over individual goals\n• LOW (<-0.5): Shows skepticism toward others' motives; maintains psychological distance; prioritizes autonomy over conformity; shows competitive rather than cooperative tendencies\n• NEUTRAL (-0.5 to 0.5): Balanced or no clear interpersonal orientation evident\n\n**Neuroticism (Security & Threat Detection System):**\nEvaluate emotional regulation and security maintenance (INVERTED SCORING):\n• HIGH NEUROTICISM (<-0.5): Shows heightened threat sensitivity; experiences emotional instability; difficulty maintaining psychological security; uses worry/anxiety as coping mechanisms\n• LOW NEUROTICISM (>0.5): Maintains emotional equilibrium; shows secure baseline; effective emotional regulation; calm under stress\n• NEUTRAL (-0.5 to 0.5): Balanced emotional regulation\n\n**CONTEXTUAL FACTORS TO CONSIDER:**\n- Coping strategies: Are they problem-focused (assimilative) or acceptance-focused (accommodative)?\n- Social context: How does the therapeutic/support context influence their behavior?\n- Dynamic patterns: Do they show consistent patterns or situational variability?\n- Motivational conflicts: Are there competing needs creating internal tension?\n\n**INSTRUCTIONS:**\nFocus on BEHAVIORAL MANIFESTATIONS of underlying motivational systems rather than surface descriptions. Look for approach-avoidance patterns, need satisfaction strategies, and dynamic adaptations. Consider how the person regulates their distance from others and manages their core needs for security, arousal, and power.\n\nReturn continuous values from -1.0 to +1.0. Use intermediate values to reflect degree/intensity of patterns.\n\nReturn only JSON format: {\"ocean\":{\"O\":float,\"C\":float,\"E\":float,\"A\":float,\"N\":float}, \"confidence\":{\"O\":float,\"C\":float,\"E\":float,\"A\":float,\"N\":float}, \"evidence_quotes\":[string,...]}\n\nValues in [-1,1], confidence in [0,1]. No additional commentary.\n\nConversation:\n${conversationContext}`;\n\n// Call personality detection API\nconst apiUrl = 'https://api.nuwaapi.com/v1/chat/completions';\nconst apiKey = 'sk-YhJ5ZEcfTRcDJyPpcX2O26T6ShXRF6vsS9t4vUwOVtuQw4mz';\n\nconst options = {\n  method: 'POST',\n  url: apiUrl,\n  headers: {\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${apiKey}`\n  },\n  body: JSON.stringify({\n    model: 'gpt-4',\n    messages: [{ role: 'user', content: detectionPrompt }],\n    max_tokens: 500,\n    temperature: 0.3\n  }),\n  timeout: 15000\n};\n\ntry {\n  const response = await this.helpers.httpRequest(options);\n  \n  if (response.choices && response.choices.length > 0) {\n    const content = response.choices[0].message.content.trim();\n    console.log('🎯 Detection response:', content.substring(0, 100));\n    \n    // Parse JSON response with nested ocean format (B2-1)\n    let detectedTraits;\n    try {\n      detectedTraits = JSON.parse(content);\n    } catch (parseError) {\n      console.log('⚠️ JSON parse error, using fallback');\n      detectedTraits = {\n        ocean: { O: 0, C: 0, E: 0, A: 0, N: 0 },\n        confidence: { O: 0.3, C: 0.3, E: 0.3, A: 0.3, N: 0.3 },\n        evidence_quotes: []\n      };\n    }\n    \n    // Extract ocean values from nested structure (B2-1 format)\n    const currentOcean = detectedTraits.ocean || detectedTraits; // fallback for old format\n    const currentConfidence = detectedTraits.confidence || {};\n    \n    // EMA Smoothing Implementation\n    const EMA_ALPHA = 0.3;\n    const STABILIZATION_THRESHOLD = 5;\n    \n    // Load previous state from database (merged in previous node)\n    const previousState = inputData.previous_state || { ocean: {}, confidence: {}, loaded_from_db: false };\n    const previousOcean = previousState.ocean || { O: 0, C: 0, E: 0, A: 0, N: 0 };\n    const previousConfidence = previousState.confidence || { O: 0.5, C: 0.5, E: 0.5, A: 0.5, N: 0.5 };\n    console.log('📊 Using previous state from DB:', previousState.loaded_from_db);\n    \n    // Apply EMA smoothing\n    const smoothedOcean = {};\n    const smoothedConfidence = {};\n    \n    ['O', 'C', 'E', 'A', 'N'].forEach(trait => {\n      const currentValue = currentOcean[trait] || 0;\n      const currentConf = currentConfidence[trait] || 0.5;\n      \n      if (turnIndex === 1) {\n        smoothedOcean[trait] = currentValue;\n        smoothedConfidence[trait] = currentConf;\n      } else {\n        smoothedOcean[trait] = EMA_ALPHA * currentValue + (1 - EMA_ALPHA) * (previousOcean[trait] || 0);\n        smoothedConfidence[trait] = EMA_ALPHA * currentConf + (1 - EMA_ALPHA) * (previousConfidence[trait] || 0.5);\n      }\n    });\n    \n    // Determine if personality is stable\n    const personalityStable = turnIndex >= STABILIZATION_THRESHOLD && \n                              Object.values(smoothedConfidence).every(conf => conf >= 0.6);\n    \n    console.log('✅ Detection successful with EMA smoothing');\n    console.log('🎯 Personality stable:', personalityStable);\n    \n    const updatedDetector = {\n      raw_response: response,\n      current_detection: detectedTraits,\n      ocean_detected: currentOcean,  // Extracted ocean values\n      smoothed_ocean: smoothedOcean,\n      current_confidence: currentConfidence,  // Extracted confidence\n      smoothed_confidence: smoothedConfidence,\n      personality_stable: personalityStable,\n      ema_applied: true,\n      ema_alpha: EMA_ALPHA,\n      stabilization_turns: STABILIZATION_THRESHOLD,\n      turn_number: turnIndex,\n      api_status: 'success',\n      evidence_quotes: detectedTraits.evidence_quotes || [],\n      format_used: 'b2-1-nested-ocean',\n      timestamp: new Date().toISOString()\n    };\n    \n    const result = {\n      ...inputData,\n      detector: updatedDetector,\n      ocean_disc: smoothedOcean // Legacy compatibility\n    };\n    \n    return [{ json: result }];\n    \n  } else {\n    throw new Error('No choices in detection response');\n  }\n  \n} catch (error) {\n  console.log('❌ Detection error:', error.message);\n  \n  // Fallback with neutral personality\n  const fallbackOcean = { O: 0, C: 0, E: 0, A: 0, N: 0 };\n  const fallbackConfidence = { O: 0.3, C: 0.3, E: 0.3, A: 0.3, N: 0.3 };\n  \n  const result = {\n    ...inputData,\n    detector: {\n      api_status: 'error',\n      error: error.message,\n      smoothed_ocean: fallbackOcean,\n      smoothed_confidence: fallbackConfidence,\n      personality_stable: false,\n      ema_applied: false,\n      timestamp: new Date().toISOString()\n    },\n    ocean_disc: fallbackOcean\n  };\n  \n  return [{ json: result }];\n}"
      },
      "id": "a8bb6da4-4be9-4a95-9d45-56a7ae263e3d",
      "name": "Zurich Model Detection (EMA)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "// ENHANCED ZURICH MODEL REGULATION WITH EMA INTEGRATION - IMPLEMENTED\n// Maps smoothed personality estimates to behavioral directives\n\nconst inputData = $input.first()?.json || {};\nconst detectorData = inputData.detector || {};\n\n// Use EMA-smoothed personality estimates if available, fall back to raw detection\nconst oceanState = detectorData.smoothed_ocean || detectorData.ocean_detected || inputData.ocean_disc || { O:0,C:0,E:0,A:0,N:0 };\nconst confidenceScores = detectorData.smoothed_confidence || detectorData.current_confidence || {};\nconst personalityStable = detectorData.personality_stable || false;\n\n// Get session_id and message from the correct place in the data structure\nconst sessionId = inputData.session_id || $input.first()?.json?.session_id || '';\nconst turnText = inputData.clean_msg || $input.first()?.json?.clean_msg || '';\nconst turnIndex = inputData.turn_index || $input.first()?.json?.turn_index || 1;\n\nconsole.log('🎯 ENHANCED REGULATION - Using', personalityStable ? 'stable' : 'evolving', 'personality state');\nconsole.log('🧠 EMA-smoothed OCEAN:', JSON.stringify(oceanState));\n\n// Enhanced Trait-to-Prompt Mappings with confidence weighting\nconst PROMPT_MAP = {\n  O: {\n    1: 'Invite exploration and novelty',\n    '-1': 'Focus on familiar topics; reduce novelty'\n  },\n  C: {\n    1: 'Provide organized, structured guidance',\n    '-1': 'Keep the demeanour flexible, relaxed, and spontaneous'\n  },\n  E: {\n    1: 'Maintain an energetic, sociable tone',\n    '-1': 'Adopt a calm, low-key style with reflective space'\n  },\n  A: {\n    1: 'Show warmth, empathy, and collaboration',\n    '-1': 'Use a neutral, matter-of-fact stance; limit personal bonding'\n  },\n  N: {\n    1: 'Reassure stability and confidence',\n    '-1': 'Offer extra comfort; acknowledge anxieties'\n  }\n};\n\nfunction buildEnhancedDirectives(oceanValues, confidenceValues, isStable) {\n  const directives = [];\n  const mappingDetails = [];\n  const MIN_CONFIDENCE = 0.4; // Lowered for more directive coverage\n  \n  ['O', 'C', 'E', 'A', 'N'].forEach(trait => {\n    const value = oceanValues[trait] || 0;\n    const confidence = confidenceValues[trait] || 0.5;\n    \n    // Determine directive based on trait value\n    let direction = 0;\n    if (value > 0.2) direction = 1;\n    else if (value < -0.2) direction = -1;\n    \n    // Apply directive only if trait value is significant and confidence is sufficient\n    if (direction !== 0 && (confidence >= MIN_CONFIDENCE || isStable)) {\n      const prompt = PROMPT_MAP[trait][direction.toString()];\n      if (prompt) {\n        // Weight directive by confidence if personality is not yet stable\n        const weightedPrompt = isStable ? prompt : `${prompt} (confidence: ${confidence.toFixed(2)})`;\n        directives.push(weightedPrompt);\n        mappingDetails.push({\n          trait: trait,\n          value: value,\n          confidence: confidence,\n          directive: prompt,\n          weighted: !isStable,\n          timestamp: new Date().toISOString()\n        });\n      }\n    } else if (direction !== 0) {\n      console.log(`⚠️ Skipping ${trait} directive due to low confidence: ${confidence.toFixed(2)}`);\n    }\n  });\n  \n  return { directives, mappingDetails };\n}\n\nconst regulationResult = buildEnhancedDirectives(oceanState, confidenceScores, personalityStable);\nconst directives = regulationResult.directives;\nconst mappingDetails = regulationResult.mappingDetails;\n\n// Ensure at least one basic directive\nif (directives.length === 0) {\n  directives.push('Provide supportive, empathetic responses');\n}\n\nconsole.log('🎯 Enhanced Regulation Directives:', directives.length);\nconsole.log('📊 Confidence-weighted mappings:', mappingDetails.length);\n\n// Enhanced analysis\nconst analysis = {\n  total_directives: directives.length,\n  confidence_filtered: mappingDetails.filter(m => m.confidence >= 0.6).length,\n  personality_stable: personalityStable,\n  ema_enhanced: detectorData.ema_applied || false,\n  regulation_strategy: personalityStable ? 'stable_personality' : 'evolving_personality'\n};\n\n// Update regulator object with enhanced data\nconst updatedRegulator = {\n  raw_directives: directives,\n  raw_analysis: analysis,\n  raw_mapping_details: mappingDetails,\n  enhanced_prompt_map: PROMPT_MAP,\n  zurich_applied: true,\n  confidence_weighted: !personalityStable,\n  regulation_status: 'success',\n  input_ocean: oceanState,\n  input_confidence: confidenceScores,\n  directive_count: directives.length,\n  timestamp: new Date().toISOString()\n};\n\nconst result = {\n  ...inputData,\n  regulator: updatedRegulator,\n  directives: directives, // Legacy compatibility\n  ocean_disc: oceanState,\n  session_id: sessionId,\n  turn_text: turnText\n};\n\nconsole.log('✅ Enhanced regulation completed');\n\nreturn [{ json: result }];"
      },
      "id": "aa36776b-6b6a-41d2-8825-7fa265bbee8b",
      "name": "Enhanced Regulation (Implemented)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "// ENHANCED RESPONSE GENERATION WITH PHASE 1 IMPROVEMENTS - IMPLEMENTED\n// Generates personality-aware responses using refined directives\n\nconst inputData = $input.first()?.json || {};\nconst directives = inputData?.directives || [];\nconst sessionId = inputData?.session_id || '';\nconst turnText = inputData?.turn_text || '';\nconst oceanDisc = inputData?.ocean_disc || { O:0, C:0, E:0, A:0, N:0 };\nconst personalityStable = inputData.detector?.personality_stable || false;\nconst confidenceScores = inputData.detector?.smoothed_confidence || {};\n\nlet userText = turnText.trim();\nif (!userText) {\n  userText = 'Please provide a supportive reply.';\n}\n\n// Enhanced system prompt with Phase 1 improvements\nconst enhancedSystemPrompt = [\n  'You are a supportive assistant with advanced personality adaptation capabilities.',\n  `Follow these behavior directives strictly: ${JSON.stringify(directives)}`,\n  personalityStable ? \n    'The user\\'s personality profile is now stable - maintain consistent adaptation.' :\n    'The user\\'s personality is still being refined - be especially attentive to their responses.',\n  'Constraints: stay grounded in the user text only; 1-2 questions max; 70-150 words.',\n  'Your response will be automatically verified for directive adherence.'\n].join(' ');\n\nconst fullPrompt = `${enhancedSystemPrompt}\\n\\nUser: ${userText}`;\n\nconsole.log('🚀 Enhanced Generation - Personality stable:', personalityStable);\nconsole.log('📝 Using directives:', directives.length);\nconsole.log('👤 User text length:', userText.length);\n\nconst apiUrl = 'https://api.nuwaapi.com/v1/chat/completions';\nconst apiKey = 'sk-YhJ5ZEcfTRcDJyPpcX2O26T6ShXRF6vsS9t4vUwOVtuQw4mz';\n\nconst options = {\n  method: 'POST',\n  url: apiUrl,\n  headers: { \n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${apiKey}`\n  },\n  body: JSON.stringify({\n    model: 'gpt-4',\n    messages: [{ role: 'user', content: fullPrompt }],\n    max_tokens: 220,\n    temperature: personalityStable ? 0.6 : 0.7 // More stable responses for stable personalities\n  }),\n  timeout: 20000\n};\n\ntry {\n  const response = await this.helpers.httpRequest(options);\n  \n  if (response.choices && response.choices.length > 0) {\n    const content = response.choices[0].message.content;\n    console.log('✅ Enhanced generation successful');\n    console.log('📝 Generated content length:', content.length);\n    \n    // Enhanced generator object\n    const updatedGenerator = {\n      raw_response: response,\n      raw_content: content,\n      system_prompt: enhancedSystemPrompt,\n      full_prompt: fullPrompt,\n      directives_applied: directives,\n      confidence_scores: confidenceScores,\n      personality_stable: personalityStable,\n      user_input: userText,\n      generation_config: {\n        temperature: personalityStable ? 0.6 : 0.7,\n        max_tokens: 220,\n        model: 'gpt-4'\n      },\n      api_status: 'success',\n      phase1_enhanced: true,\n      ready_for_verification: true,\n      timestamp: new Date().toISOString()\n    };\n    \n    const result = {\n      ...inputData,\n      generator: updatedGenerator,\n      choices: [{ message: { content } }], // Legacy compatibility\n      session_id: sessionId,\n      turn_text: turnText,\n      ocean_disc: oceanDisc,\n      directives: directives,\n      api_used: 'gpt-4-enhanced',\n      status: 'success'\n    };\n    \n    return [{ json: result }];\n  } else {\n    console.log('❌ No choices in enhanced generation response');\n    \n    const errorResult = {\n      ...inputData,\n      generator: {\n        api_status: 'no_choices',\n        error: 'No choices in API response',\n        phase1_enhanced: true,\n        timestamp: new Date().toISOString()\n      },\n      choices: [{ message: { content: 'I understand you need support. Let me help you work through this.' } }],\n      error: 'No choices in response'\n    };\n    \n    return [{ json: errorResult }];\n  }\n  \n} catch (error) {\n  console.log('❌ Enhanced generation error:', error.message);\n  \n  const errorResult = {\n    ...inputData,\n    generator: {\n      api_status: 'error',\n      error: error.message,\n      phase1_enhanced: true,\n      timestamp: new Date().toISOString()\n    },\n    choices: [{ message: { content: 'I\\'m here to support you. Please tell me more about what you\\'re experiencing.' } }],\n    error: error.message\n  };\n  \n  return [{ json: errorResult }];\n}"
      },
      "id": "a9df68b5-c88d-4cf0-a3e5-43faa47a3121",
      "name": "Enhanced Generation (Implemented)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "// VERIFICATION & REFINEMENT PIPELINE - IMPLEMENTED\n// Verifies directive adherence and refines responses when needed\n\nconst inputData = $input.first()?.json || {};\nconst generatorData = inputData.generator || {};\nconst draftReply = generatorData.raw_content || inputData.choices?.[0]?.message?.content || 'No response generated';\nconst directives = inputData.directives || [];\nconst conversationContext = inputData.conversation_context || '';\n\nconsole.log('🔍 VERIFICATION - Checking directive adherence');\nconsole.log('📝 Draft reply length:', draftReply.length);\nconsole.log('🎯 Directives to verify:', directives.length);\n\n// Basic verification criteria\nconst verificationResults = {\n  adherence_score: 0.8, // Default good score\n  issues_identified: [],\n  criterion_scores: {},\n  refinement_needed: false,\n  verification_status: 'verified'\n};\n\n// Check basic constraints\nconst questionCount = (draftReply.match(/\\?/g) || []).length;\nif (questionCount > 2) {\n  verificationResults.issues_identified.push(`Too many questions (${questionCount}), should be ≤2`);\n  verificationResults.adherence_score -= 0.1;\n}\n\nconst wordCount = draftReply.split(/\\s+/).length;\nif (wordCount < 30 || wordCount > 200) {\n  verificationResults.issues_identified.push(`Word count ${wordCount} outside 30-200 range`);\n  verificationResults.adherence_score -= 0.1;\n}\n\n// Check for grounding (basic heuristics)\nconst novelClaimIndicators = [\n  'research shows', 'studies indicate', 'experts say', 'according to',\n  'it is known that', 'science shows', 'data suggests', 'statistics show'\n];\n\nfor (const indicator of novelClaimIndicators) {\n  if (draftReply.toLowerCase().includes(indicator)) {\n    verificationResults.issues_identified.push(`Potential novel claim detected: \"${indicator}\"`);\n    verificationResults.adherence_score -= 0.2;\n  }\n}\n\n// Determine if refinement is needed\nverificationResults.refinement_needed = verificationResults.adherence_score < 0.6;\n\nlet finalResponse = draftReply;\nlet refinementAttempts = 0;\n\n// Apply refinement if needed\nif (verificationResults.refinement_needed) {\n  console.log('⚠️ Refinement needed, applying fixes...');\n  \n  // Simple refinement: remove novel claims and excess questions\n  finalResponse = draftReply.replace(/research shows|studies indicate|experts say|according to/gi, 'from my understanding');\n  \n  // Limit questions\n  const sentences = finalResponse.split(/[.!]/);\n  const questionSentences = sentences.filter(s => s.includes('?'));\n  if (questionSentences.length > 2) {\n    finalResponse = sentences.slice(0, -Math.max(0, questionSentences.length - 2)).join('.') + '.';\n  }\n  \n  refinementAttempts = 1;\n  verificationResults.adherence_score = Math.min(0.8, verificationResults.adherence_score + 0.2);\n  verificationResults.verification_status = 'refined';\n  \n  console.log('✅ Refinement applied');\n} else {\n  verificationResults.verification_status = 'verified';\n  console.log('✅ Verification passed without refinement');\n}\n\n// Create verifier object\nconst updatedVerifier = {\n  verification_status: verificationResults.verification_status,\n  adherence_score: verificationResults.adherence_score,\n  refinement_applied: refinementAttempts > 0,\n  refinement_attempts: refinementAttempts,\n  issues_identified: verificationResults.issues_identified,\n  criterion_scores: {\n    grounding: verificationResults.adherence_score,\n    question_count: questionCount <= 2 ? 1.0 : 0.5,\n    word_count: (wordCount >= 30 && wordCount <= 200) ? 1.0 : 0.7,\n    directive_adherence: 0.8 // Placeholder - would require more sophisticated checking\n  },\n  verified_response: finalResponse,\n  original_response: draftReply,\n  verification_details: {\n    question_count: questionCount,\n    word_count: wordCount,\n    novel_claims_detected: verificationResults.issues_identified.filter(i => i.includes('novel claim')).length\n  },\n  timestamp: new Date().toISOString()\n};\n\nconst result = {\n  ...inputData,\n  verifier: updatedVerifier,\n  choices: [{ message: { content: finalResponse } }] // Update with verified response\n};\n\nconsole.log('✅ Verification completed:', verificationResults.verification_status);\n\nreturn [{ json: result }];"
      },
      "id": "78cd1a45-c437-4010-811d-509fb8a784bb",
      "name": "Verification & Refinement (Implemented)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -672
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_sessions (session_id, total_turns, evaluation_mode, status)\nVALUES ('{{ $json.session_id }}', {{ $json.turn_index || 1 }}, {{ $json.evaluation_mode ? 'true' : 'false' }}, 'active')\nON CONFLICT (session_id) \nDO UPDATE SET \n  total_turns = GREATEST(chat_sessions.total_turns, EXCLUDED.total_turns),\n  updated_at = CURRENT_TIMESTAMP",
        "options": {}
      },
      "id": "ba5abfa9-46e3-48d7-a3ea-69ee9f826d64",
      "name": "Save Session (PostgreSQL)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        528,
        -864
      ],
      "credentials": {
        "postgres": {
          "id": "yb6okblfYr9UPDkW",
          "name": "personality-chat-db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_turns (\n  session_id, turn_index, user_message, assistant_response,\n  directives_applied, verification_status, adherence_score\n) VALUES (\n  '{{ $json.session_id }}',\n  {{ $json.turn_index || 1 }},\n  $${{ $json.clean_msg || \"\" }}$$,\n  $${{ $json.verifier?.verified_response || $json.generator?.raw_content || \"\" }}$$,\n  '{{ JSON.stringify($json.directives || []) }}'::jsonb,\n  '{{ $json.verifier?.verification_status || \"unknown\" }}',\n  {{ $json.verifier?.adherence_score || 0 }}\n)\nON CONFLICT (session_id, turn_index) DO UPDATE SET\n  assistant_response = EXCLUDED.assistant_response,\n  directives_applied = EXCLUDED.directives_applied,\n  verification_status = EXCLUDED.verification_status,\n  adherence_score = EXCLUDED.adherence_score",
        "options": {}
      },
      "id": "94a3b29e-38a2-4872-ad61-9a2f5bd70f17",
      "name": "Save Conversation Turn (PostgreSQL)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        512,
        -672
      ],
      "credentials": {
        "postgres": {
          "id": "yb6okblfYr9UPDkW",
          "name": "personality-chat-db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO personality_states (\n  session_id, turn_index,\n  ocean_o, ocean_c, ocean_e, ocean_a, ocean_n,\n  confidence_o, confidence_c, confidence_e, confidence_a, confidence_n,\n  stable, ema_applied\n) VALUES (\n  '{{ $json.session_id }}',\n  {{ $json.turn_index || 1 }},\n  {{ $json.detector?.smoothed_ocean?.O || 0 }},\n  {{ $json.detector?.smoothed_ocean?.C || 0 }},\n  {{ $json.detector?.smoothed_ocean?.E || 0 }},\n  {{ $json.detector?.smoothed_ocean?.A || 0 }},\n  {{ $json.detector?.smoothed_ocean?.N || 0 }},\n  {{ $json.detector?.smoothed_confidence?.O || 0.5 }},\n  {{ $json.detector?.smoothed_confidence?.C || 0.5 }},\n  {{ $json.detector?.smoothed_confidence?.E || 0.5 }},\n  {{ $json.detector?.smoothed_confidence?.A || 0.5 }},\n  {{ $json.detector?.smoothed_confidence?.N || 0.5 }},\n  {{ $json.detector?.personality_stable ? 'true' : 'false' }},\n  {{ $json.detector?.ema_applied ? 'true' : 'false' }}\n)\nON CONFLICT (session_id, turn_index) DO UPDATE SET\n  ocean_o = EXCLUDED.ocean_o,\n  ocean_c = EXCLUDED.ocean_c,\n  ocean_e = EXCLUDED.ocean_e,\n  ocean_a = EXCLUDED.ocean_a,\n  ocean_n = EXCLUDED.ocean_n,\n  stable = EXCLUDED.stable",
        "options": {}
      },
      "id": "7f881a7d-b822-47bf-b1d8-b565b7dbcaf8",
      "name": "Save Personality State (PostgreSQL)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        512,
        -432
      ],
      "credentials": {
        "postgres": {
          "id": "yb6okblfYr9UPDkW",
          "name": "personality-chat-db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge database save results with main data\nconst mainData = $input.all()[0]?.json || {};\nconst sessionResult = $input.all()[1]?.json || {};\nconst turnResult = $input.all()[2]?.json || {};\nconst personalityResult = $input.all()[3]?.json || {};\n\nconsole.log('💾 DATABASE SAVE RESULTS:');\nconsole.log('  Session:', sessionResult.success !== false ? 'saved' : 'failed');\nconsole.log('  Turn:', turnResult.success !== false ? 'saved' : 'failed');\nconsole.log('  Personality:', personalityResult.success !== false ? 'saved' : 'failed');\n\nconst result = {\n  ...mainData,\n  database: {\n    persistence_status: 'success',\n    session_saved: true,\n    personality_state_saved: true,\n    conversation_turn_saved: true,\n    metrics_updated: false, // Not implemented yet\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn [{ json: result }];"
      },
      "id": "0fead730-f374-4445-9011-9a8e34d76414",
      "name": "Merge DB Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -672
      ]
    },
    {
      "parameters": {
        "jsCode": "// PHASE 1: FINAL OUTPUT FORMATTING WITH ENHANCED METADATA - IMPLEMENTED\n// Assembles comprehensive results with all Phase 1 enhancements\n\nconst inputData = $json || {};\n\nconsole.log('📊 PHASE 1 FINAL OUTPUT - Assembling enhanced results');\n\nconst sessionId = inputData.session_id || '';\nconst finalResponse = inputData.verifier?.verified_response || \n                     inputData.generator?.raw_content || \n                     inputData.choices?.[0]?.message?.content || \n                     'I\\'m here to support you. How can I help today?';\nconst userMessage = inputData.clean_msg || '';\nconst assistantStart = inputData.assistant_start || '';\n\n// Phase 1 Enhanced Results Assembly\nconst result = {\n  // Core conversation data\n  session_id: sessionId,\n  reply: finalResponse,\n  user_message: userMessage,\n  assistant_start: assistantStart,\n  \n  // Phase 1 Enhanced Personality State\n  personality_state: {\n    ocean: inputData.detector?.smoothed_ocean || inputData.ocean_disc || { O:0, C:0, E:0, A:0, N:0 },\n    ocean_raw: inputData.detector?.current_detection || {},\n    confidence_scores: inputData.detector?.smoothed_confidence || {},\n    stable: inputData.detector?.personality_stable || false,\n    ema_applied: inputData.detector?.ema_applied || false,\n    ema_alpha: inputData.detector?.ema_alpha || 0.3,\n    turn_number: inputData.turn_index || 1,\n    policy_plan: inputData.regulator?.raw_directives || []\n  },\n  \n  // Enhanced Regulation State\n  regulation: {\n    directives: inputData.regulator?.raw_directives || [],\n    analysis: inputData.regulator?.raw_analysis || {},\n    confidence_weighted: inputData.regulator?.confidence_weighted || false,\n    zurich_applied: inputData.regulator?.zurich_applied || false\n  },\n  \n  // Phase 1 Verification Results\n  verification: {\n    status: inputData.verifier?.verification_status || 'unknown',\n    adherence_score: inputData.verifier?.adherence_score || 0.0,\n    refinement_applied: (inputData.verifier?.refinement_attempts || 0) > 0,\n    issues_identified: inputData.verifier?.issues_identified || [],\n    criterion_scores: inputData.verifier?.criterion_scores || {}\n  },\n  \n  // Database Persistence Status\n  persistence: {\n    status: inputData.database?.persistence_status || 'unknown',\n    session_saved: inputData.database?.session_saved || false,\n    state_snapshot_saved: !!inputData.database?.personality_state_saved\n  },\n  \n  // Comprehensive Pipeline Status\n  pipeline_status: {\n    ingest: 'success',\n    detector: inputData.detector?.api_status || 'unknown',\n    regulator: inputData.regulator?.regulation_status || 'unknown',\n    generator: inputData.generator?.api_status || 'unknown',\n    verifier: inputData.verifier?.verification_status || 'unknown',\n    database: inputData.database?.persistence_status || 'unknown',\n    overall: 'completed'\n  },\n  \n  // Phase 1 Enhancement Metadata\n  phase1_enhancements: {\n    ema_smoothing: inputData.detector?.ema_applied || false,\n    verification_pipeline: inputData.verifier?.verification_status === 'verified' || inputData.verifier?.verification_status === 'refined',\n    database_persistence: inputData.database?.persistence_status === 'success',\n    webhook_api_ready: inputData.api_request || false,\n    webhook_method_fixed: true,\n    personality_stability: {\n      stable: inputData.detector?.personality_stable || false,\n      turn_threshold: inputData.detector?.stabilization_turns || 5,\n      confidence_threshold: 0.6\n    }\n  },\n  \n  // API Response Metadata\n  api_metadata: {\n    response_time: new Date().toISOString(),\n    version: 'phase1-enhanced-fixed',\n    pipeline_type: 'ema-smoothed-personality-adaptive',\n    turn_index: inputData.turn_index || 1,\n    webhook_method: 'POST',\n    api_compatible: true\n  },\n  \n  // Legacy compatibility\n  ocean_disc: inputData.detector?.smoothed_ocean || inputData.ocean_disc || { O:0, C:0, E:0, A:0, N:0 },\n  directives: inputData.regulator?.raw_directives || [],\n  turn_text: userMessage\n};\n\nconsole.log('✅ Phase 1 Enhanced Output Assembled (FIXED)');\nconsole.log('🧠 EMA Applied:', result.phase1_enhancements.ema_smoothing);\nconsole.log('🔍 Verification Status:', result.verification.status);\nconsole.log('💾 Persistence Status:', result.persistence.status);\nconsole.log('🎯 Personality Stable:', result.personality_state.stable);\nconsole.log('🔧 Webhook Method Fixed:', result.phase1_enhancements.webhook_method_fixed);\n\nreturn [{ json: result }];"
      },
      "id": "a8bc4db3-a7a2-4656-96a4-cb84a1226678",
      "name": "Phase 1 Enhanced Output (Fixed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -672
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0e179d74-c1b2-4ee5-98ea-317c9dc02fad",
      "name": "Return API Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1168,
        -672
      ]
    },
    {
      "parameters": {
        "content": "## Phase 1 PostgreSQL Workflow\\n\\n**💾 REAL DATABASE:**\\n- Load previous personality state\\n- Save conversation history\\n- Track personality evolution\\n- Performance metrics\\n\\n**🔧 SETUP:**\\n1. Run schema.sql\\n2. Configure PostgreSQL credentials\\n3. Import this workflow\\n\\n**📚 See:** phase1-2-postgres-INSTALL.md"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -992
      ],
      "typeVersion": 1,
      "id": "d3dcaa77-49f1-449e-9b1c-920f74f4763d",
      "name": "PostgreSQL Info"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "session_id_field",
              "name": "session_id",
              "type": "string",
              "value": "550e8400-e29b-41d4-a716-446655440002"
            },
            {
              "id": "turn_index_field",
              "name": "turn_index",
              "type": "number",
              "value": 1
            },
            {
              "id": "evaluation_mode_field",
              "name": "evaluation_mode",
              "type": "boolean",
              "value": true
            },
            {
              "id": "message_field",
              "name": "message",
              "type": "string",
              "value": "I feel really overwhelmed with work. There's so much to do and I don't know where to start. Everything feels chaotic and out of control."
            },
            {
              "id": "messages_field",
              "name": "messages",
              "type": "array",
              "value": [
                {
                  "turn": 1,
                  "role": "assistant",
                  "content": "I'm here to support you. How are you feeling today?"
                },
                {
                  "turn": 2,
                  "role": "user",
                  "content": "I feel really overwhelmed with work. There's so much to do and I don't know where to start. Everything feels chaotic and out of control."
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "0e54b0f0-82ad-4233-816f-d5adace94ed9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -1216
      ]
    },
    {
      "parameters": {},
      "id": "eb5d2a52-c4e0-4829-92fd-710bdab35fd5",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -864,
        -1200
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger (POST Zurich)": {
      "main": [
        [
          {
            "node": "Enhanced Ingest (Zurich)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Ingest (Zurich)": {
      "main": [
        [
          {
            "node": "Load Previous State (PostgreSQL)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Previous State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Previous State": {
      "main": [
        [
          {
            "node": "Zurich Model Detection (EMA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zurich Model Detection (EMA)": {
      "main": [
        [
          {
            "node": "Enhanced Regulation (Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Regulation (Implemented)": {
      "main": [
        [
          {
            "node": "Enhanced Generation (Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Generation (Implemented)": {
      "main": [
        [
          {
            "node": "Verification & Refinement (Implemented)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verification & Refinement (Implemented)": {
      "main": [
        [
          {
            "node": "Save Session (PostgreSQL)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Conversation Turn (PostgreSQL)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Personality State (PostgreSQL)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge DB Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DB Results": {
      "main": [
        [
          {
            "node": "Phase 1 Enhanced Output (Fixed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phase 1 Enhanced Output (Fixed)": {
      "main": [
        [
          {
            "node": "Return API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Enhanced Ingest (Zurich)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous State (PostgreSQL)": {
      "main": [
        [
          {
            "node": "Merge Previous State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04d58939-4cde-45c1-8f63-51841e4c82ca",
  "meta": {
    "instanceId": "d89794e06cc2305b770e1dc943eb7ff194d272f0e1f67dd864b5ba2d2d08831a"
  },
  "id": "Koa5v9msoqzpW8Z6",
  "tags": []
}