workflows/n8n/big5loop-phase1-2-postgres-mvp-v2.json
[{"updatedAt":"2026-03-11T03:22:21.000Z","createdAt":"2026-03-05T01:48:24.379Z","id":"Qdw2nuaxVGOSSCbi","name":"CareLoop Phase1-2 PostgreSQL V2 (Hybrid LLM Router)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"careloop-turn","responseMode":"responseNode","options":{}},"id":"85dad42c-3c41-4ee9-8635-e1205b478301","name":"Webhook Trigger (POST Zurich)","type":"n8n-nodes-base.webhook","position":[-656,-800],"webhookId":"aba65e1e-4f3d-4d02-9728-cba45312e20f","typeVersion":2},{"parameters":{"jsCode":"// ── STEP 1: INGEST with robust UUID ──\nconst raw = $json.body || $json || {};\n\nfunction uuidV4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\nconst sid = uuidRe.test(String(raw.session_id || '')) ? raw.session_id : uuidV4();\nconst directMsg = String(raw.message || '').trim();\nconst msgs = Array.isArray(raw.messages) ? raw.messages : [];\n\nlet userMessage = directMsg;\nlet assistantStart = '';\nif (!userMessage) {\n  for (const m of msgs) {\n    if (m?.role === 'user' && Number(m?.turn) === 2) userMessage = String(m?.content || '');\n    if (m?.role === 'assistant' && Number(m?.turn) === 1) assistantStart = String(m?.content || '');\n  }\n}\nif (!userMessage) userMessage = 'Hello, I could use some support today.';\nif (!assistantStart) assistantStart = \"I'm here to listen and support you. How are you feeling today?\";\n\nconst ctx = (raw.context && typeof raw.context === 'object') ? raw.context : {};\nconst validTier = ['light','medium'];\nconst requestedTierRaw = String(ctx.model_tier || raw.model_tier || '').toLowerCase();\nconst requestedTier = validTier.includes(requestedTierRaw) ? requestedTierRaw : 'medium';\nconst turn = Number(raw.turn_index || 1);\n\nreturn [{ json: {\n  session_id: sid,\n  turn_index: turn,\n  clean_msg: userMessage,\n  user_message: userMessage,\n  assistant_start: assistantStart,\n  evaluation_mode: Boolean(raw.evaluation_mode),\n  api_request: Boolean(raw.api_request),\n  context: { language: String(ctx.language || 'en'), canton: String(ctx.canton || 'ZH').slice(0,2), model_tier: requestedTier },\n  conversation_context: `assistant: ${assistantStart}\\nuser: ${userMessage}`,\n  messages: msgs,\n  ingested_at: new Date().toISOString(),\n  request_id: raw.request_id || '',\n  user_id: raw.user_id || null,\n  prefetched_evidence: Array.isArray(raw.prefetched_evidence) ? raw.prefetched_evidence : [],\n  retrieval_meta: raw.retrieval_meta || null\n}}];"},"id":"fde47042-70bc-46a9-aab4-670ac5d2d757","name":"Enhanced Ingest (Zurich)","type":"n8n-nodes-base.code","position":[-432,-896],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"WITH recent AS (\n  SELECT turn_index,\n    COALESCE((ocean_json->>'O')::double precision, 0) AS ocean_o,\n    COALESCE((ocean_json->>'C')::double precision, 0) AS ocean_c,\n    COALESCE((ocean_json->>'E')::double precision, 0) AS ocean_e,\n    COALESCE((ocean_json->>'A')::double precision, 0) AS ocean_a,\n    COALESCE((ocean_json->>'N')::double precision, 0) AS ocean_n,\n    COALESCE((confidence_json->>'O')::double precision, 0.5) AS confidence_o,\n    COALESCE((confidence_json->>'C')::double precision, 0.5) AS confidence_c,\n    COALESCE((confidence_json->>'E')::double precision, 0.5) AS confidence_e,\n    COALESCE((confidence_json->>'A')::double precision, 0.5) AS confidence_a,\n    COALESCE((confidence_json->>'N')::double precision, 0.5) AS confidence_n,\n    stable\n  FROM personality_states\n  WHERE session_id = '{{ $json.session_id }}'\n  ORDER BY turn_index DESC\n  LIMIT 6\n), latest AS (\n  SELECT * FROM recent ORDER BY turn_index DESC LIMIT 1\n)\nSELECT latest.turn_index,\n  latest.ocean_o,\n  latest.ocean_c,\n  latest.ocean_e,\n  latest.ocean_a,\n  latest.ocean_n,\n  latest.confidence_o,\n  latest.confidence_c,\n  latest.confidence_e,\n  latest.confidence_a,\n  latest.confidence_n,\n  latest.stable,\n  COALESCE((\n    SELECT json_agg(json_build_object('O', r.ocean_o, 'C', r.ocean_c, 'E', r.ocean_e, 'A', r.ocean_a, 'N', r.ocean_n) ORDER BY r.turn_index)\n    FROM recent r\n  ), '[]'::json) AS ocean_history\nFROM latest","options":{}},"id":"d45c19ac-ad01-4f8b-88e0-7e8e243d4ca6","name":"Load Previous State (PostgreSQL)","type":"n8n-nodes-base.postgres","position":[-208,-896],"typeVersion":2.4,"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"postgres":{"id":"postgres-cred-new","name":"Big5Loop PostgreSQL New"}}},{"parameters":{"jsCode":"// ── STEP 2: MERGE previous personality state (P0-2: error pass-through) ──\nconst firstIn = $input.first().json; if (firstIn && firstIn.success === false && firstIn.error) return $input.all();\nlet ingestData = {};\ntry { ingestData = $('Enhanced Ingest (Zurich)').first().json; } catch(e) {}\nif (!ingestData || !ingestData.session_id) {\n  const all = $input.all();\n  for (const item of all) {\n    const j = item?.json;\n    if (j && j.conversation_context !== undefined) { ingestData = j; break; }\n  }\n  if (!ingestData || !ingestData.session_id) ingestData = $input.first()?.json || {};\n}\n\nlet dbRow = null;\ntry {\n  const dbOut = $('Load Previous State (PostgreSQL)').first()?.json;\n  if (dbOut && dbOut.ocean_o !== undefined) dbRow = dbOut;\n} catch(e) {}\nif (!dbRow) {\n  for (const item of $input.all()) {\n    const j = item?.json;\n    if (j && j.ocean_o !== undefined) { dbRow = j; break; }\n  }\n}\n\nlet prevOcean = {O:0,C:0,E:0,A:0,N:0}, prevConf = {O:0.5,C:0.5,E:0.5,A:0.5,N:0.5};\nlet prevTurn = 0, prevStable = false, fromDb = false;\nlet prevHistory = [];\nif (dbRow) {\n  prevOcean = {O:dbRow.ocean_o||0, C:dbRow.ocean_c||0, E:dbRow.ocean_e||0, A:dbRow.ocean_a||0, N:dbRow.ocean_n||0};\n  prevConf = {O:dbRow.confidence_o||0.5, C:dbRow.confidence_c||0.5, E:dbRow.confidence_e||0.5, A:dbRow.confidence_a||0.5, N:dbRow.confidence_n||0.5};\n  prevTurn = dbRow.turn_index||0; prevStable = dbRow.stable||false; fromDb = true;\n  prevHistory = Array.isArray(dbRow.ocean_history) ? dbRow.ocean_history : [];\n}\n\nreturn [{ json: {\n  ...ingestData,\n  previous_state: {\n    ocean: prevOcean,\n    confidence: prevConf,\n    turn_index: prevTurn,\n    stable: prevStable,\n    ocean_history: prevHistory,\n    loaded_from_db: fromDb\n  }\n}}];"},"id":"75b16ef6-7a21-42fc-bf28-251ba66a0cf2","name":"Merge Previous State","type":"n8n-nodes-base.code","position":[16,-896],"typeVersion":2},{"parameters":{"jsCode":"// ── STEP 3: PERSONALITY DETECTION (P0-2: error pass-through) ──\nconst d = $input.first().json;\nif (d && d.success === false && d.error) return $input.all();\nconst turnIndex = Number(d.turn_index || 1);\nconst userText = String(d.clean_msg || '');\nconst userTextLower = userText.toLowerCase();\nconst convCtx = String(d.conversation_context || '');\nconst CONFIDENCE_THRESHOLD = 0.4;\nconst STABILITY_TURNS = 6;\nconst STABILITY_VARIANCE_THRESHOLD = 0.05;\nconst detectionStartedAt = Date.now();\n\nfunction clamp(v, lo, hi) { return Math.max(lo, Math.min(hi, v)); }\n\nfunction heuristicOcean(text) {\n  const pos = (text.match(/(good|calm|grateful|thank|appreciate|better|hopeful|peace|relaxed|happy|great|awesome|wonderful|fantastic|love|enjoy|excited)/g)||[]).length;\n  const neg = (text.match(/(low|sad|anxious|worried|stress|overwhelmed|tired|panic|afraid|lonely|depressed|frustrated|angry|upset|hurt|scared|terrible|awful)/g)||[]).length;\n  const soc = (text.match(/(you|we|together|friends|family|talk|share|people|connect|relationship)/g)||[]).length;\n  const exp = (text.match(/(new|explore|learn|curious|idea|possibility|creative|wonder|imagine|discover)/g)||[]).length;\n  const str = (text.match(/(plan|organize|routine|schedule|step|priority|focus|goal|structure)/g)||[]).length;\n  const greet = (text.match(/(hi|hello|hey|how are you|good morning|good evening)/g)||[]).length;\n  return {\n    O: clamp(exp*0.15, -1, 1),\n    C: clamp(str*0.14, -1, 1),\n    E: clamp(soc*0.1 + pos*0.05 - neg*0.05 + greet*0.2, -1, 1),\n    A: clamp(pos*0.08 + soc*0.05 + greet*0.1, -1, 1),\n    N: clamp((neg-pos)*0.15, -1, 1)\n  };\n}\n\nfunction oceanVariance(history) {\n  if (!Array.isArray(history) || history.length < 2) return 0;\n  const traits = ['O','C','E','A','N'];\n  let sum = 0;\n  for (const t of traits) {\n    const values = history.map((h) => Number(h?.[t] || 0));\n    const mean = values.reduce((a, b) => a + b, 0) / values.length;\n    const variance = values.reduce((a, b) => a + ((b - mean) ** 2), 0) / values.length;\n    sum += variance;\n  }\n  return sum / traits.length;\n}\n\nfunction applyEma(current, conf) {\n  const alpha = 0.3;\n  const prev = d.previous_state || {};\n  const pO = prev.ocean || {O:0,C:0,E:0,A:0,N:0};\n  const pC = prev.confidence || {O:0.5,C:0.5,E:0.5,A:0.5,N:0.5};\n  const sO = {}, sC = {};\n  ['O','C','E','A','N'].forEach(t => {\n    const currTrait = Number(current[t] || 0);\n    const currConf = Number(conf[t] || 0.5);\n    const prevTrait = Number(pO[t] || 0);\n    const prevConf = Number(pC[t] || 0.5);\n    if (turnIndex === 1) {\n      sO[t] = currTrait;\n      sC[t] = currConf;\n    } else if (currConf < CONFIDENCE_THRESHOLD) {\n      sO[t] = prevTrait;\n      sC[t] = alpha * currConf + (1 - alpha) * prevConf;\n    } else {\n      sO[t] = alpha * currTrait + (1 - alpha) * prevTrait;\n      sC[t] = alpha * currConf + (1 - alpha) * prevConf;\n    }\n  });\n\n  const prevHistory = Array.isArray(d.previous_state?.ocean_history) ? d.previous_state.ocean_history : [];\n  const history = [...prevHistory, sO];\n  const stable = history.length >= STABILITY_TURNS && oceanVariance(history.slice(-STABILITY_TURNS)) <= STABILITY_VARIANCE_THRESHOLD;\n\n  return { smoothedOcean: sO, smoothedConfidence: sC, personalityStable: stable, oceanHistory: history.slice(-STABILITY_TURNS) };\n}\n\nlet ocean, confidence, apiStatus = 'heuristic', apiError = null, formatUsed = 'heuristic-fallback';\n\ntry {\n  let apiKey = '';\n  try { apiKey = process.env.NVIDIA_API_KEY || ''; } catch(_) {}\n  if (!apiKey) try { apiKey = (typeof $env !== 'undefined' && $env.NVIDIA_API_KEY) || ''; } catch(_) {}\n  let apiUrl = '';\n  try { apiUrl = process.env.NVIDIA_API_URL || ''; } catch(_) {}\n  if (!apiUrl) try { apiUrl = (typeof $env !== 'undefined' && $env.NVIDIA_API_URL) || ''; } catch(_) {}\n  if (!apiUrl) apiUrl = 'https://integrate.api.nvidia.com/v1/chat/completions';\n  let model = '';\n  try { model = process.env.NVIDIA_MODEL || ''; } catch(_) {}\n  if (!model) try { model = (typeof $env !== 'undefined' && $env.NVIDIA_MODEL) || ''; } catch(_) {}\n  if (!model) model = 'meta/llama-3.3-70b-instruct';\n\n  \n// ── DETECTION CACHE (skip API for repeated messages) ──\nconst _sd = $getWorkflowStaticData('global');\nif (!_sd._cache) _sd._cache = {};\nconst cacheKey = userText.slice(0, 300);\nconst cached = _sd._cache[cacheKey];\nif (cached && (Date.now() - cached.ts) < 300000) {\n  ocean = cached.ocean;\n  confidence = cached.confidence;\n  apiStatus = 'cached'; formatUsed = 'cache';\n} else if (apiKey && apiKey.length > 10) {\n\n    const sysMsg = \"You are a personality psychologist rating Big Five (OCEAN) traits from written utterances.\\n\\nCRITICAL calibration rules:\\n- Rate the SPEAKER\\'s personality from their STYLE. Not the topic content.\\n- Each trait is INDEPENDENT. A friendly speaker (high A) can have any N, C, E, or O value.\\n\\nTRAIT GUIDE:\\nO (Openness): HIGH = varied vocabulary (\\'satisfying\\', \\'dainty\\', \\'phenomenal\\', \\'unspeakable\\'), creative phrasing. LOW = repetitive, simple words (\\'like\\', \\'basically\\', \\'actually\\'), filler-heavy.\\n\\nC (Conscientiousness): HIGH = formal register (\\'I see, well\\', \\'I suppose\\', \\'It seems to me\\'), structured comparison with clear details. LOW = disorganized (\\'Err...\\', \\'Mmhm...\\'), repetition, \\'I might be wrong\\', scattered information, informal register.\\n\\nE (Extraversion): HIGH = warm, enthusiastic (\\'outstanding!\\', \\'phenomenal!\\', \\'love it\\', \\'favourite\\'), exclamatory, engaging the listener (\\'you would love\\', \\'Let me tell you\\'). LOW = flat, withdrawn (\\'I don\\'t know\\'), monotone factual delivery.\\n\\nA (Agreeableness): HIGH = polite, collaborative (\\'would suggest\\', \\'would appreciate\\', \\'you would like\\', \\'buddy\\', \\'pal\\'). LOW = profane (\\'bloody\\', \\'damn\\'), blunt (\\'rude\\', \\'nasty\\', \\'isn\\'t as bad\\').\\n\\nN (Neuroticism): HIGH = stuttering (\\'re-re-recommend\\', \\'it-it-italian\\'), genuine anxiety (\\'I don\\'t know!\\', \\'I am not sure!\\', \\'I might be wrong!\\' with exclamation), repetitive corrections, emotional volatility. LOW = calm, assured (\\'I imagine\\', \\'I believe\\', \\'I think that\\', \\'It seems to me\\'), measured delivery. MODERATE = \\'you know\\', \\'okay?\\', \\'alright?\\' are NEUTRAL filler, not neurotic.\\n\\nReturn ONLY valid JSON: {\\\"O\\\":float,\\\"C\\\":float,\\\"E\\\":float,\\\"A\\\":float,\\\"N\\\":float}\\nEach value in [-1.0, 1.0]. No explanation.\";\n    const fewShot = [{u:\"I have been feeling quite anxious lately, you know? I am not sure if my medication is working. Maybe I should talk to the doctor but I do not want to bother anyone.\",a:\"{\\\"O\\\":-0.2,\\\"C\\\":0.1,\\\"E\\\":-0.4,\\\"A\\\":0.5,\\\"N\\\":0.7}\"},{u:\"Good morning! Oh, I had the most wonderful walk in the garden today. The flowers are blooming beautifully, reminds me of my travels to Provence. I should paint them!\",a:\"{\\\"O\\\":0.8,\\\"C\\\":0.3,\\\"E\\\":0.7,\\\"A\\\":0.4,\\\"N\\\":-0.5}\"},{u:\"Fine. Took the pills. Food was okay. Slept.\",a:\"{\\\"O\\\":-0.7,\\\"C\\\":0.2,\\\"E\\\":-0.8,\\\"A\\\":-0.3,\\\"N\\\":-0.2}\"},{u:\"Did you say Kin Khao and Tossed? Oh yeah, I would suggest them, wouldn\\'t you? Kin Khao offers quite satisfactory food. I guess Tossed, however, has sort of acceptable food.\",a:\"{\\\"O\\\":-0.2,\\\"C\\\":0.4,\\\"E\\\":0.0,\\\"A\\\":0.6,\\\"N\\\":-0.3}\"},{u:\"Even if Tossed doesn\\'t have nasty food, actually, the service is damn unmannered. I mean, basically, Kin Khao offers like, rude staff.\",a:\"{\\\"O\\\":-0.3,\\\"C\\\":0.1,\\\"E\\\":0.2,\\\"A\\\":-0.4,\\\"N\\\":-0.2}\"},{u:\"I don\\'t know. I might re-re-recommend Sc-Sc-Scopa and Shabu-Tatsu! Scopa has... it provides bad atmosphere, but it features like, nice service, though. It\\'s an it-it-italian and new american place.\",a:\"{\\\"O\\\":-0.2,\\\"C\\\":-0.3,\\\"E\\\":-0.3,\\\"A\\\":0.4,\\\"N\\\":0.4}\"},{u:\"You want to know more about Chimichurri Grill? I guess you would like it buddy because this restaurant, which is in Midtown West, is a latin american place with rather nice food and quite nice waiters, you know, okay?\",a:\"{\\\"O\\\":0.4,\\\"C\\\":0.8,\\\"E\\\":0.8,\\\"A\\\":0.6,\\\"N\\\":-0.7}\"}];\n    const msgs = [{role:'system',content:sysMsg}];\n    for (const ex of fewShot) { msgs.push({role:'user',content:ex.u}); msgs.push({role:'assistant',content:ex.a}); }\n    msgs.push({role:'user',content:userText.slice(0,600)});\n    const body = await this.helpers.httpRequest({\n      url: apiUrl,\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${apiKey}` },\n      body: { model, messages: msgs, temperature:0.1, max_tokens:50 },\n      timeout: 12000,\n      json: true\n    });\n    if (body) {\n      const raw = body.choices?.[0]?.message?.content || '';\n      const m = raw.match(/\\{[^}]+\\}/);\n      if (m) {\n        const p = JSON.parse(m[0]);\n        if (typeof p.O === 'number') {\n          ocean = { O:clamp(p.O,-1,1), C:clamp(p.C||0,-1,1), E:clamp(p.E||0,-1,1), A:clamp(p.A||0,-1,1), N:clamp(p.N||0,-1,1) };\n          confidence = { O:0.8, C:0.8, E:0.8, A:0.8, N:0.8 };\n          apiStatus = 'nvidia'; formatUsed = 'api';\n      _sd._cache[cacheKey] = { ocean, confidence, ts: Date.now() };\n        }\n      }\n    }\n  } else { apiError = `No API key (len=${apiKey.length})`; }\n} catch(e) { apiError = e.message || String(e); }\n\nif (!ocean) {\n  ocean = heuristicOcean(userTextLower);\n  const isStyleContext = /\\b(restaurant|place|food|price|dollars|eating|waiter|atmosphere)\\b/.test(userTextLower);\n  if (isStyleContext) {\n    const agreeHigh = (userText.match(/(would suggest|would advise|would appreciate|imagine you would|you would like|rather nice|quite nice|friendly)/g)||[]).length;\n    const agreeLow = (userText.match(/(bloody|damn|rude|nasty|unfriendly)/g)||[]).length;\n    const extraHigh = (userText.match(/(outstanding|phenomenal|favourite|love them|you would love)/g)||[]).length;\n    const extraLow = (userText.match(/(err|mmhm|i might be wrong|i am not sure|there could be worse)/g)||[]).length;\n    const hedge = (userText.match(/(i mean|basically|actually|err|mmhm|i might be wrong|i am not sure)/g)||[]).length;\n    ocean.A = clamp(ocean.A + (agreeHigh - agreeLow) * 0.2, -1, 1);\n    ocean.E = clamp(ocean.E + (extraHigh - extraLow) * 0.15, -1, 1);\n    ocean.N = clamp(ocean.N + hedge * 0.2, -1, 1);\n    ocean.C = clamp(ocean.C - hedge * 0.15, -1, 1);\n  }\n  confidence = { O:0.45, C:0.45, E:0.45, A:0.45, N:0.45 };\n}\n\nconst ema = applyEma(ocean, confidence);\n\nconst detectionEndedAt = Date.now();\nconst timing = {\n  ...(d.timing || {}),\n  detection: {\n    status: apiStatus === 'nvidia' ? 'ok' : 'fallback',\n    started_at: new Date(detectionStartedAt).toISOString(),\n    ended_at: new Date(detectionEndedAt).toISOString(),\n    duration_ms: Math.max(0, detectionEndedAt - detectionStartedAt)\n  }\n};\n\n\nreturn [{ json: {\n  ...d,\n  timing,\n  detector: {\n    api_status: apiStatus, error: apiError, format_used: formatUsed,\n    ocean_detected: ocean, smoothed_ocean: ema.smoothedOcean,\n    current_confidence: confidence, smoothed_confidence: ema.smoothedConfidence,\n    personality_stable: ema.personalityStable, ema_applied: true, ema_alpha: 0.3,\n    stabilization_turns: STABILITY_TURNS, turn_number: turnIndex, timestamp: new Date().toISOString()\n  },\n  previous_state: {\n    ...(d.previous_state || {}),\n    ocean_history: ema.oceanHistory\n  },\n  ocean_disc: ema.smoothedOcean\n}}];"},"id":"9d9015ce-6b8b-4dec-9d24-ed782b575f17","name":"Zurich Model Detection (EMA)","type":"n8n-nodes-base.code","position":[240,-896],"typeVersion":2},{"parameters":{"jsCode":"// ── STEP 4: ZURICH REGULATION (P0-2: error pass-through) ──\nconst d = $input.first().json;\nif (d && d.success === false && d.error) return $input.all();\nconst det = d.detector || {};\nconst ocean = det.smoothed_ocean || d.ocean_disc || {O:0,C:0,E:0,A:0,N:0};\nconst conf = det.smoothed_confidence || {};\nconst stable = det.personality_stable || false;\nconst routingStartedAt = Date.now();\n\nconst MAP = {\n  O: { high:'Invite exploration and novelty', low:'Focus on familiar topics; reduce novelty' },\n  C: { high:'Provide organized, structured guidance', low:'Keep flexible, relaxed, and spontaneous' },\n  E: { high:'Maintain an energetic, sociable tone', low:'Adopt a calm, low-key style with reflective space' },\n  A: { high:'Show warmth, empathy, and collaboration', low:'Use a neutral, matter-of-fact stance' },\n  N: { high:'Offer extra comfort; acknowledge anxieties', low:'Reassure stability and confidence' }\n};\n\nconst directives = [];\nconst details = [];\nfor (const [t, v] of Object.entries(ocean)) {\n  const val = Number(v||0), c = Number(conf[t]||0.5);\n  if (Math.abs(val) > 0.15 && c >= 0.35) {\n    const dir = val > 0 ? MAP[t]?.high : MAP[t]?.low;\n    if (dir) {\n      directives.push(stable ? dir : `${dir} (confidence: ${c.toFixed(2)})`);\n      details.push({ trait:t, value:val, confidence:c, directive:dir });\n    }\n  }\n}\nif (directives.length === 0) {\n  directives.push('Be warm, attentive, and supportive');\n  directives.push('Ask open-ended questions to understand the user better');\n}\n\nconst rawText = String(d.clean_msg || d.user_message || '');\nconst text = rawText.toLowerCase();\nconst score = (keywords) => keywords.reduce((n, k) => n + (text.includes(k) ? 1 : 0), 0);\nconst policyKeywords = ['benefit','benefits','eligibility','eligible','procedure','policy','policies','form','forms','allowance','invalidenversicherung',' iv ','ahv','disability','subsidy','subsidies','application','apply','deadline','document','documents','required','citation','citations','official','source','sources','canton','cantonal','federal','regulation','legal','law','appeal','spitex','long-term care','care subsidy'];\nconst educationKeywords = ['how to','steps','step-by-step','plan','routine','practice','technique','guide','learn','training','improve','strategy','tips','next steps','action plan'];\nconst emotionalKeywords = ['feel','feeling','stressed','anxious','overwhelmed','sad','worried','burned out','panic','lonely','scared','afraid','depressed','upset','support me'];\nconst legalBenefitKeywords = ['benefit','benefits','allowance','eligibility','eligible','application','deadline','policy','regulation','law','legal','ahv','invalidenversicherung','cantonal','federal','citation','citations','official','source','sources','documents','required','appeal'];\nconst explicitNextStepKeywords = ['next step','next steps','step by step','steps','plan','checklist','what should i do','how should i','action plan'];\n\nconst rawScores = {\n  policy: score(policyKeywords),\n  education: score(educationKeywords),\n  emotional: score(emotionalKeywords)\n};\nconst maxPossible = {\n  policy: policyKeywords.length,\n  education: educationKeywords.length,\n  emotional: emotionalKeywords.length\n};\nconst normalizedScores = {\n  policy: Number((rawScores.policy / maxPossible.policy).toFixed(3)),\n  education: Number((rawScores.education / maxPossible.education).toFixed(3)),\n  emotional: Number((rawScores.emotional / maxPossible.emotional).toFixed(3))\n};\n\nconst apiTargetMode = String(d?.routing_hints?.target_mode || '');\nconst validApiModes = ['emotional_support','practical_education','policy_navigation','mixed'];\nconst apiModeValid = validApiModes.includes(apiTargetMode);\n\nlet coachingMode = apiModeValid ? apiTargetMode : 'emotional_support';\nlet needsClarifyingQuestion = false;\nlet routingReason = apiModeValid ? ('api_' + String(d?.routing_hints?.routing_source || 'routing_hints')) : 'default_emotional_support';\nconst hasLegalBenefitCue = legalBenefitKeywords.some((k) => text.includes(k));\nconst asksForNextSteps = explicitNextStepKeywords.some((k) => text.includes(k));\n\nconst requestedTierRaw = String(d?.context?.model_tier || d?.model_tier || 'medium').toLowerCase();\nconst requestedTier = ['light','medium','heavy'].includes(requestedTierRaw) ? requestedTierRaw : 'medium';\nlet effectiveTier = requestedTier;\n\nconst POLICY_STRONG = 0.1;\nconst EDUCATION_STRONG = 0.12;\nconst EMOTIONAL_STRONG = 0.12;\nconst MIXED_MIN = 0.08;\n\nif (apiModeValid) {\n  // API already resolved mode via LLM router; keep it, skip keyword classification\n} else if (normalizedScores.policy >= POLICY_STRONG || hasLegalBenefitCue) {\n  coachingMode = 'policy_navigation';\n  routingReason = normalizedScores.policy >= POLICY_STRONG ? 'policy_score_threshold' : 'policy_legal_cue_override';\n} else if (normalizedScores.education >= EDUCATION_STRONG && normalizedScores.policy < POLICY_STRONG) {\n  coachingMode = 'practical_education';\n  routingReason = 'education_score_threshold';\n} else if (normalizedScores.emotional >= EMOTIONAL_STRONG && normalizedScores.policy < POLICY_STRONG) {\n  coachingMode = 'emotional_support';\n  routingReason = 'emotional_score_threshold';\n} else if (normalizedScores.policy >= MIXED_MIN && normalizedScores.emotional >= MIXED_MIN) {\n  coachingMode = 'mixed';\n  routingReason = 'policy_emotional_mixed_threshold';\n} else if (normalizedScores.policy < MIXED_MIN && normalizedScores.education < MIXED_MIN && normalizedScores.emotional < MIXED_MIN) {\n  coachingMode = 'emotional_support';\n  needsClarifyingQuestion = true;\n  routingReason = 'low_confidence_clarification';\n}\n\nconst byScoreDesc = Object.entries(normalizedScores).sort((a, b) => b[1] - a[1]);\nconst topGap = byScoreDesc[0][1] - byScoreDesc[1][1];\nconst nearTie = topGap <= 0.05;\nif (!apiModeValid && nearTie) {\n  const topNames = byScoreDesc.filter(([, v]) => (byScoreDesc[0][1] - v) <= 0.05).map(([k]) => k);\n  if (topNames.includes('policy') && topNames.includes('education') && hasLegalBenefitCue) {\n    coachingMode = 'policy_navigation';\n    routingReason = 'tie_break_policy_over_education_legal_cue';\n  } else if (topNames.includes('emotional') && topNames.includes('education') && asksForNextSteps) {\n    coachingMode = 'practical_education';\n    routingReason = 'tie_break_education_over_emotional_next_steps';\n  } else if (topNames.length === 3 && normalizedScores.policy < MIXED_MIN && normalizedScores.education < MIXED_MIN && normalizedScores.emotional < MIXED_MIN) {\n    coachingMode = 'emotional_support';\n    needsClarifyingQuestion = true;\n    routingReason = 'three_way_low_confidence_tie';\n  }\n}\n\nlet modeConfidence = apiModeValid ? Number(d?.routing_hints?.mode_confidence || 0.8) : Number(byScoreDesc[0][1].toFixed(2));\nif (!apiModeValid && needsClarifyingQuestion) {\n  modeConfidence = Number(Math.min(modeConfidence, 0.54).toFixed(2));\n}\n\nconst clarifyingQuestion = needsClarifyingQuestion\n  ? 'To guide you better, do you want emotional support right now, practical step-by-step coaching, or official policy/benefit guidance?'\n  : null;\n\nif ((coachingMode === 'policy_navigation' || coachingMode === 'mixed') && effectiveTier === 'light') {\n  effectiveTier = 'medium';\n  routingReason = `${routingReason}|safety_escalation_light_to_medium`;\n}\n\nconst retrievalTopK = effectiveTier === 'heavy' ? 5 : effectiveTier === 'light' ? 2 : 3;\n\nconst routingEndedAt = Date.now();\nconst retrievalStartIso = new Date(routingEndedAt).toISOString();\nconst timing = {\n  ...(d.timing || {}),\n  routing: {\n    status: 'ok',\n    started_at: new Date(routingStartedAt).toISOString(),\n    ended_at: new Date(routingEndedAt).toISOString(),\n    duration_ms: Math.max(0, routingEndedAt - routingStartedAt)\n  },\n  retrieval: {\n    status: 'pending',\n    started_at: retrievalStartIso\n  }\n};\n\nreturn [{ json: {\n  ...d,\n  timing,\n  directives,\n  turn_text: d.clean_msg || d.user_message || '',\n  context: { ...(d.context || {}), model_tier: effectiveTier },\n  model_tier_requested: requestedTier,\n  model_tier_effective: effectiveTier,\n  retrieval_top_k: retrievalTopK,\n  coaching_mode: coachingMode,\n  mode_confidence: modeConfidence,\n  mode_scores: normalizedScores,\n  mode_scores_raw: rawScores,\n  needs_clarifying_question: needsClarifyingQuestion,\n  clarifying_question: clarifyingQuestion,\n  mode_routing_reason: routingReason,\n  regulator: {\n    raw_directives: directives, zurich_applied: true,\n    confidence_weighted: !stable, regulation_status: 'success',\n    directive_count: directives.length, mapping_details: details,\n    input_ocean: ocean, input_confidence: conf,\n    timestamp: new Date().toISOString()\n  }\n}}];"},"id":"2629b770-1076-4b07-906d-18f17a15a66e","name":"Enhanced Regulation (Implemented)","type":"n8n-nodes-base.code","position":[464,-896],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"SELECT source_id, chunk_id, title, content, url\nFROM policy_chunks\nWHERE to_tsvector('english', content || ' ' || title) @@ websearch_to_tsquery('english', $${{ $json.clean_msg || $json.user_message || '' }}$$)\nLIMIT {{ $json.retrieval_top_k || 3 }}","options":{}},"id":"policy-retrieval-01","name":"Policy Retrieval (PostgreSQL)","type":"n8n-nodes-base.postgres","position":[688,-1040],"typeVersion":2.4,"alwaysOutputData":true,"onError":"stopWorkflow","credentials":{"postgres":{"id":"postgres-cred-new","name":"Big5Loop PostgreSQL New"}}},{"parameters":{"jsCode":"// ── MERGE RETRIEVAL RESULTS (parallel pipeline) ──\n// Input 0: from Enhanced Regulation (has coaching_mode, directives, ocean, etc.)\n// Input 1: from Policy Retrieval (PostgreSQL) (raw FTS results, may be empty)\nconst reg = $('Enhanced Regulation (Implemented)').first().json;\nif (reg && reg.success === false && reg.error) return [{ json: reg }];\nconst regulationData = reg || {};\n\nconst prefetched = Array.isArray(regulationData.prefetched_evidence) ? regulationData.prefetched_evidence : [];\nconst retrievalMeta = regulationData.retrieval_meta || null;\n\nlet evidence = [];\nlet retrievalMethod = 'fts';\n\nif (prefetched.length > 0) {\n  evidence = prefetched;\n  retrievalMethod = retrievalMeta?.method || 'vector';\n} else {\n  const retrievalItems = $('Policy Retrieval (PostgreSQL)').all();\n  for (const item of retrievalItems) {\n    const j = item.json;\n    if (j && j.source_id && j.content) {\n      evidence.push(j);\n    }\n  }\n}\n\nconst nowIso = new Date().toISOString();\nconst isPolicyMode = regulationData.coaching_mode === 'policy_navigation' || regulationData.coaching_mode === 'mixed';\nconst retrievalStatus = isPolicyMode\n  ? (evidence.length > 0 ? 'ok' : 'degraded')\n  : 'skipped';\n\nif (!isPolicyMode) {\n  evidence = [];\n}\n\nconst timing = {\n  ...(regulationData.timing || {}),\n  retrieval: {\n    status: retrievalStatus,\n    method: retrievalMethod,\n    ended_at: nowIso,\n    duration_ms: retrievalMeta?.total_ms || 0,\n    embedding_ms: retrievalMeta?.query_embedding_ms || 0\n  }\n};\n\nreturn [{\n  json: {\n    ...regulationData,\n    timing,\n    evidence,\n    evidence_count: evidence.length,\n    retrieval_status: retrievalStatus,\n    retrieval_method: retrievalMethod\n  }\n}];"},"id":"merge-retrieval-01","name":"Merge Retrieval","type":"n8n-nodes-base.code","position":[688,-896],"typeVersion":2},{"parameters":{"jsCode":"// ── STEP 5: GENERATE RESPONSE (P0-2: error pass-through) ──\nconst d = $input.first().json;\nif (d && d.success === false && d.error) return $input.all();\nconst text = String(d.turn_text || d.clean_msg || d.user_message || '').trim();\nconst ocean = d.ocean_disc || {O:0,C:0,E:0,A:0,N:0};\nconst directives = d.directives || [];\nconst stable = d.detector?.personality_stable || false;\nconst evidence = d.retrieval?.evidence || [];\nconst requestedTier = String(d.model_tier_requested || d.context?.model_tier || 'medium');\nconst effectiveTier = String(d.model_tier_effective || requestedTier || 'medium');\nconst tierConfig = effectiveTier === 'light'\n  ? { maxTokens: 80, stableTemperature: 0.55, dynamicTemperature: 0.6 }\n  : effectiveTier === 'heavy'\n    ? { maxTokens: 150, stableTemperature: 0.55, dynamicTemperature: 0.65 }\n    : { maxTokens: 120, stableTemperature: 0.6, dynamicTemperature: 0.7 };\nconst generationStartedAt = Date.now();\n\nfunction pick(arr) { return arr[Math.floor(Math.random() * arr.length)]; }\n\nfunction extractTopics(text) {\n  const low = text.toLowerCase();\n  const topics = [];\n  const map = {\n    meditation: /(meditat|mindful|breathing exercise|zen|mantra)/,\n    exercise: /(exercise|workout|gym|running|walk|yoga|sport|swim|hik)/,\n    sleep: /(sleep|rest|nap|insomnia|tired|exhausted|bed)/,\n    work: /(work|job|office|boss|colleague|career|project|deadline)/,\n    family: /(family|parent|mother|father|mom|dad|sibling|brother|sister|child|kid)/,\n    friends: /(friend|buddy|pal|mate|companion|social)/,\n    health: /(health|doctor|hospital|sick|pain|illness|therapy|therapist)/,\n    nature: /(nature|garden|park|tree|flower|mountain|beach|ocean|outdoor)/,\n    creativity: /(creat|art|music|paint|writ|draw|sing|danc|cook|craft)/,\n    learning: /(learn|study|read|book|course|class|school)/,\n    gratitude: /(grateful|thankful|appreciate|blessed|gratitude)/,\n    calm: /(calm|peace|serene|tranquil|quiet|still|relax)/,\n    energy: /(energy|energetic|alive|vibrant|motivated|excited|pumped)/,\n    connection: /(connect|bond|relationship|love|close|together|belonging)/\n  };\n  for (const [t, re] of Object.entries(map)) { if (re.test(low)) topics.push(t); }\n  return topics;\n}\n\nfunction applyDirectiveStyle(base, directives, ocean) {\n  let r = base;\n  const ds = directives.join(' ').toLowerCase();\n  const E = Number(ocean.E||0), A = Number(ocean.A||0), N = Number(ocean.N||0);\n  const O = Number(ocean.O||0), C = Number(ocean.C||0);\n\n  let mods = 0;\n  if (E > 0.4 && (ds.includes('energetic') || ds.includes('sociable'))) {\n    const ep = pick([\"I love that energy! \",\"That's so exciting! \",\"How wonderful! \",\"What great vibes! \",\"Yes, absolutely! \"]);\n    r = ep + r.charAt(0).toUpperCase() + r.slice(1);\n  } else if (E < -0.2) {\n    const qp = pick([\"I hear you. \",\"Take your time. \",\"There's no rush here. \",\"Let's sit with that for a moment. \"]);\n    if (!r.startsWith('I hear')) r = qp + r;\n  }\n\n  if (mods < 2 && A > 0.3 && (ds.includes('warmth') || ds.includes('empathy') || ds.includes('collaboration'))) {\n    r = r.replace(/\\bI\\b(?='d| think| believe| wonder)/g, 'We');\n    if (!r.includes('together') && !r.includes('we') && !r.includes('We'))\n      r = r.replace(/\\?$/, ' — and I want you to know we\\'re in this together?');\n    mods++;\n  }\n\n  if (mods < 2 && N > 0.3 && (ds.includes('comfort') || ds.includes('anxiet'))) {\n    if (!r.includes('safe') && !r.includes('okay') && !r.includes('valid')) {\n      const cs = pick([\" Remember, whatever you're feeling right now is completely valid.\",\" And it's okay to not have all the answers right now.\",\" Your feelings matter, and there's no wrong way to feel about this.\",\" Take a breath — you're doing better than you think.\"]);\n      r += cs;\n      mods++;\n    }\n  }\n\n  if (mods < 2 && N < -0.3 && ds.includes('stability')) {\n    if (!r.includes('strong') && !r.includes('resilient'))\n      r = r.replace(/\\.$/, ' — and your steadiness really shines through.'); mods++;\n  }\n\n  if (mods < 2 && O > 0.3 && (ds.includes('exploration') || ds.includes('novelty'))) {\n    if (!r.includes('curious') && !r.includes('explore') && !r.includes('perspective')) {\n      const os = pick([\" What new perspective has this opened up for you?\",\" I'm curious what else you might discover here.\",\" Have you explored any unexpected angles on this?\"]);\n      r = r.replace(/\\?$/, '.') + os;\n    }\n  }\n\n  if (mods < 2 && C > 0.3 && (ds.includes('structured') || ds.includes('organized'))) {\n    if (!r.includes('step') && !r.includes('plan') && !r.includes('concrete')) {\n      const cs = pick([\" Shall we break this down into concrete steps?\",\" Would it help to organize your thoughts around this?\",\" Let's approach this systematically — what's the first priority?\"]);\n      r = r.replace(/\\?$/, '.') + cs;\n    }\n  }\n\n  if (E > 0.3 && (ds.includes('energetic') || ds.includes('sociable'))) {\n    r = r.replace(/\\.\\s/g, '! ').replace(/\\.$/, '!');\n    r = r.replace(/\\bgood\\b/gi, m => pick(['great','wonderful','fantastic']));\n    r = r.replace(/\\bnice\\b/gi, m => pick(['amazing','lovely','brilliant']));\n  }\n\n  if (ds.includes('calm') || ds.includes('low-key') || ds.includes('reflective space')) {\n    r = r.replace(/!/g, '.').replace(/!$/,'.');\n    if (!r.includes('space') && !r.includes('pause'))\n      r += \" Take all the space you need.\";\n  }\n\n  if (A < -0.2 && (ds.includes('neutral') || ds.includes('matter-of-fact'))) {\n    r = r.replace(/!\\s?/g, '. ').replace(/!$/, '.');\n    r = r.replace(/\\breally\\s/gi, '').replace(/\\btruly\\s/gi, '').replace(/\\bso\\s/gi, '');\n  }\n\n  return r;\n}\n\nfunction heuristicResponse(text, ocean, directives) {\n  if (evidence.length > 0) {\n    const titles = evidence.map(e => e.title).join(', ');\n    return applyDirectiveStyle(`I found some official information (${titles}). Based on what I see: ${evidence[0].content.slice(0, 150)}... Shall we look at the details together?`, directives, ocean);\n  }\n  const low = text.toLowerCase();\n  const E = Number(ocean.E||0), A = Number(ocean.A||0), N = Number(ocean.N||0), O = Number(ocean.O||0);\n  const topics = extractTopics(text);\n  const isGreeting = /(^|\\s)(hi|hello|hey|how are you|what's up|good morning|good evening)/i.test(low) && text.length < 40;\n  const isPositive = /(good|calm|great|happy|better|peace|grateful|appreciate|wonderful|fantastic|awesome|excited|love|enjoy)/i.test(low);\n  const isNegative = /(low|sad|overwhelmed|anxious|stressed|tired|worried|afraid|depressed|frustrated|angry|upset|hurt|lonely|terrible|awful)/i.test(low);\n  const isQuestion = /\\?/.test(text);\n  const isReflective = /(think|wonder|reflect|meaning|purpose|life|feel like|sometimes|realize|understand|aware)/i.test(low);\n  const isAdvice = /(best way|should|recommend|suggest|how to|tip|advice|help me)/i.test(low);\n  const isSharing = text.length > 80;\n\n  if (isGreeting) {\n    return applyDirectiveStyle(pick([\n      E > 0.3 ? 'Hey there! Great to hear from you! How has your day been going? Anything on your mind you\\'d like to chat about?' : A > 0.2 ? 'Hello! It\\'s really nice to connect with you. How are you doing today? I\\'m here whenever you\\'re ready to share.' : 'Hi! Welcome — I\\'m glad you\\'re here. How are things going for you today?',\n      'Hey! Good to see you. What\\'s been on your mind lately?',\n      E > 0.3 ? 'Hi there! Always nice to connect. What brings you here today?' : 'Hello. I\\'m here and listening. What would you like to talk about?'\n    ]), directives, ocean);\n  }\n\n  if (isAdvice && topics.length > 0) {\n    const t = topics[0];\n    const topicR = {\n      meditation: ['It sounds like you already have great insight — meditation really can be transformative. How long have you been practicing? I\\'d love to hear about your experience.', 'You\\'re absolutely right that meditation can be incredibly grounding. What type resonates most with you — guided, breath-focused, or something else?', 'That\\'s a wonderful practice. Meditation has such deep benefits for both mind and body. Do you have a regular routine, or is it more spontaneous?'],\n      exercise: ['Movement really is such a powerful way to shift your energy. What kind of exercise do you find most enjoyable?', 'You\\'re onto something important — physical activity can be one of the best things for our wellbeing. What type works best for you?'],\n      sleep: ['Rest is so fundamental to how we feel and function. What\\'s your relationship with sleep been like recently?', 'Good sleep really is the foundation of wellbeing. What does your wind-down routine look like?'],\n      nature: ['Being in nature really does have a special way of grounding us. What kinds of natural settings do you find most restorative?', 'There\\'s something deeply healing about connecting with the natural world. Do you get to spend time outdoors regularly?']\n    };\n    return applyDirectiveStyle(pick(topicR[t] || [`That's a really insightful perspective on ${t}. What made you realize this?`, `You seem to have a thoughtful approach to ${t}. How has it shaped your daily life?`]), directives, ocean);\n  }\n\n  if (isNegative) {\n    const emp = pick([`I hear you, and it takes real courage to share when things feel heavy.`, `Thank you for being open about how you're feeling — that truly matters.`, `I can sense this is weighing on you, and I want you to know your feelings are completely valid.`, `It sounds like you're carrying a lot right now. I'm here to listen.`]);\n    const sup = N < -0.2 ? pick([`You don't have to navigate this alone.`, `Whatever you're going through, we can face it together at your pace.`, `Sometimes just having someone to listen can make things feel lighter.`]) : pick([`Let's take this one step at a time together.`, `I'm here to support you through this.`, `We can work through this — there's no rush.`]);\n    const fol = topics.length > 0 ? pick([`Can you tell me more about how ${topics[0]} has been affecting you?`, `What aspect of ${topics[0]} has been the most challenging?`]) : pick([`Can you tell me more about what's been weighing on you?`, `What feels like the heaviest part of what you're experiencing?`, `When did you first start feeling this way?`]);\n    return applyDirectiveStyle(`${emp} ${sup} ${fol}`, directives, ocean);\n  }\n\n  if (isPositive) {\n    if (topics.length > 0) {\n      const tR = {\n        calm: ['There\\'s something really beautiful about finding that inner calm. It\\'s not always easy to get there, so the fact that you\\'re feeling it is worth celebrating. What\\'s been helping you cultivate that sense of peace?', 'Feeling calm is such a gift to yourself. Is this a feeling you\\'ve been actively working toward, or did it come naturally today?', 'That sense of calm sounds really grounding. What does it feel like in your body when you notice that stillness?'],\n        meditation: ['It sounds like your meditation practice is really paying off! That calm energy you\\'re describing is exactly what consistent practice can bring. How has your practice evolved over time?', 'The peace that comes from meditation is so unique — like a calm from within rather than from circumstances. What drew you to meditation initially?'],\n        gratitude: ['That spirit of gratitude you\\'re expressing is really powerful. What are you most grateful for today?', 'I love that you\\'re in a space of appreciation right now. What\\'s been standing out to you lately?'],\n        energy: ['I can really feel that energy coming through! There\\'s something contagious about that kind of vitality. What\\'s been fueling it?', 'That vibrant energy is wonderful. What\\'s been driving that motivation?'],\n        connection: ['Those deep connections really are what make life rich. What\\'s been the most meaningful connection for you recently?', 'The desire for meaningful connection is so important. What kind of connections nourish you most?']\n      };\n      if (tR[topics[0]]) return applyDirectiveStyle(pick(tR[topics[0]]), directives, ocean);\n    }\n    return applyDirectiveStyle(pick([`That's really wonderful to hear! What's been the highlight of this positive energy for you?`, `I can sense that good energy in what you're sharing! What do you think is contributing most to this feeling?`, `It sounds like you're in a really good headspace. Those moments are worth savoring. Is there something specific that shifted things for you?`, `What a great place to be in! I'm curious about what's been different lately.`, `That positivity really comes through in your words. What would you say has been the biggest factor?`]), directives, ocean);\n  }\n\n  if (isSharing) {\n    return applyDirectiveStyle(pick([`Thank you for sharing all of that — I can tell this is something you've been thinking deeply about.${topics.length > 0 ? ` The way you describe ${topics[0]} really resonates.` : ''} What feels most important to you in all of this?`, `I really appreciate you opening up. There's a lot of depth in what you're saying.${topics.length > 0 ? ` I'm particularly struck by what you said about ${topics[0]}.` : ''} What part would you like to explore further?`]), directives, ocean);\n  }\n\n  if (isReflective) {\n    return applyDirectiveStyle(pick([`Those are really thoughtful reflections. That kind of self-awareness is genuinely valuable.${topics.length > 0 ? ` What specifically about ${topics[0]} has been on your mind?` : ' What drew you to think about this?'}`, `I love that you're sitting with these deeper questions. What has this reflection been revealing to you?`, `There's something really meaningful about taking the time to reflect like this. What insights have been coming up for you?`]), directives, ocean);\n  }\n\n  if (isQuestion) {\n    return applyDirectiveStyle(pick([`That's a really thoughtful question.${topics.length > 0 ? ` When it comes to ${topics[0]}, ` : ' '}What's your own intuition telling you?`, `Great question! I'd love to explore that with you. What's been prompting you to think about this?`, `I appreciate you asking that. What's your gut feeling on it?`]), directives, ocean);\n  }\n\n  return applyDirectiveStyle(pick([`Thanks for sharing that.${topics.length > 0 ? ` I'd like to hear more about your experience with ${topics[0]}.` : ''} What feels most important to talk about right now?`, `I appreciate you opening up.${topics.length > 0 ? ` ${topics[0].charAt(0).toUpperCase()+topics[0].slice(1)} sounds meaningful to you.` : ''} Tell me more.`, `That's interesting — I'd like to understand more.${topics.length > 0 ? ` How has ${topics[0]} been part of your experience?` : ' What would be most helpful to explore together?'}`, `I hear you. What you're sharing matters.${topics.length > 0 ? ` Let's talk more about ${topics[0]} — ` : ' '}What aspect would you like to dive deeper into?`]), directives, ocean);\n}\n\nlet reply = '', genStatus = 'heuristic', genError = null, usedModel = 'google/gemma-3n-e4b-it';\n\ntry {\n  let apiKey = '';\n  try { apiKey = process.env.NVIDIA_API_KEY || ''; } catch(_) {}\n  if (!apiKey) try { apiKey = (typeof $env !== 'undefined' && $env.NVIDIA_API_KEY) || ''; } catch(_) {}\n  let apiUrl = '';\n  try { apiUrl = process.env.NVIDIA_API_URL || ''; } catch(_) {}\n  if (!apiUrl) try { apiUrl = (typeof $env !== 'undefined' && $env.NVIDIA_API_URL) || ''; } catch(_) {}\n  if (!apiUrl) apiUrl = 'https://integrate.api.nvidia.com/v1/chat/completions';\n  let model = '';\n  try { model = process.env.NVIDIA_MODEL || ''; } catch(_) {}\n  if (!model) try { model = (typeof $env !== 'undefined' && $env.NVIDIA_MODEL) || ''; } catch(_) {}\n  if (!model) model = 'google/gemma-3n-e4b-it';\n    usedModel = model;\n\n  if (apiKey && apiKey.length > 10) {\n    let contextBlock = '';\n    if (evidence.length > 0) {\n      contextBlock = '\\n\\nOFFICIAL POLICY CONTEXT (Use this to answer):\\n' + evidence.map((e, i) => '[Source ' + (i+1) + ']: ' + e.title + ' - ' + e.content).join('\\n') + '\\n\\nINSTRUCTIONS: Answer the user\\'s question using ONLY the provided context. If the answer is not in the context, say you don\\'t know. Do not hallucinate rules.';\n    }\n\n    const sysInstructions = `You are CareLoop, a supportive, personality-aware caregiver assistant.\\n\\nStyle directives:\\n${contextBlock}${directives.map((x,i)=>`${i+1}. ${x}`).join('\\n')}\\n\\nRules: 2-4 sentences, reference what the user said, be genuine, ask one follow-up question, never start with 'I appreciate you sharing'.`;\n    const userPrompt = sysInstructions + '\\n\\nUser message: ' + text;\n    const body = await this.helpers.httpRequest({\n      url: apiUrl,\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json', 'Authorization': `Bearer ${apiKey}` },\n      body: { model, messages: [{role:'user',content:userPrompt}], temperature: stable ? tierConfig.stableTemperature : tierConfig.dynamicTemperature, max_tokens: tierConfig.maxTokens },\n      timeout: 20000,\n      json: true\n    });\n    if (body) {\n      const c = body.choices?.[0]?.message?.content;\n      if (c && c.length > 10) { reply = c; genStatus = 'nvidia'; }\n      else { genError = 'API returned empty/short content'; }\n    }\n  } else { genError = `No API key available (len=${apiKey.length})`; }\n} catch(e) { genError = e.message || String(e); }\n\nif (!reply) reply = heuristicResponse(text, ocean, directives);\n\nconst generationEndedAt = Date.now();\nconst timing = {\n  ...(d.timing || {}),\n  generation: {\n    status: genStatus === 'nvidia' ? 'ok' : 'fallback',\n    started_at: new Date(generationStartedAt).toISOString(),\n    ended_at: new Date(generationEndedAt).toISOString(),\n    duration_ms: Math.max(0, generationEndedAt - generationStartedAt)\n  }\n};\n\nreturn [{ json: {\n  ...d,\n  timing,\n  reply: reply,\n  generator: {\n    raw_content: reply, api_status: genStatus, error: genError,\n    format_used: genStatus === 'nvidia' ? 'api' : 'heuristic-fallback',\n    directives_applied: directives, personality_stable: stable,\n    user_input: text, generation_config: { temperature: stable ? tierConfig.stableTemperature : tierConfig.dynamicTemperature, max_tokens: tierConfig.maxTokens, model: usedModel, model_tier_requested: requestedTier, model_tier_effective: effectiveTier },\n    ready_for_verification: true, topics_detected: extractTopics(text),\n    timestamp: new Date().toISOString()\n  },\n  choices: [{ message: { content: reply } }]\n}}];"},"id":"ce2867cc-2673-4e8d-8303-2db798973d04","name":"Enhanced Generation (Implemented)","type":"n8n-nodes-base.code","position":[912,-896],"typeVersion":2},{"parameters":{"jsCode":"// ── STEP 5b: GROUNDING VERIFIER (P0-2: error pass-through) ──\nconst d = $input.first()?.json || {};\nif (d && d.success === false && d.error) return $input.all();\n// Per Spec §7.3, §8.4.I: every policy claim must map to ≥1 evidence chunk\n\nconst mode = String(d.coaching_mode || 'emotional_support');\nconst isPolicyMode = mode === 'policy_navigation' || mode === 'mixed';\nconst evidence = Array.isArray(d.retrieval?.evidence) ? d.retrieval.evidence : [];\nconst draft = String(d.generator?.raw_content || d.reply || '').trim();\nconst groundingStartedAt = Date.now();\n\n// Policy claim patterns to detect\nconst POLICY_PATTERNS = [\n  /you (?:are|may be|might be|could be) (?:eligible|entitled|qualified)/gi,\n  /the (?:benefit|allowance|payment|grant|subsidy) (?:is|amounts? to|equals?)/gi,\n  /you (?:can|may|must|should|need to) (?:apply|submit|register|file)/gi,\n  /(?:IV|AHV|EL|Invalidenversicherung)\\s+(?:provides?|covers?|pays?|offers?)/gi,\n  /according to (?:federal|cantonal|swiss) (?:law|regulation|policy)/gi,\n  /the (?:deadline|requirement|condition|criteria) (?:is|are)/gi,\n  /(?:federal|cantonal) (?:benefits?|support|assistance) (?:include|cover|provide)/gi,\n  /(?:CHF|Fr\\.)\\s*[\\d,.']+/gi,\n  /\\d+\\s*(?:days?|weeks?|months?)\\s+(?:processing|waiting|review)/gi,\n  /forms?\\s+(?:must|should|need to)\\s+be\\s+(?:submitted|filed|sent)/gi\n];\n\nfunction extractClaims(text) {\n  const claims = [];\n  const seen = new Set();\n  for (const pattern of POLICY_PATTERNS) {\n    const matches = text.match(pattern) || [];\n    for (const m of matches) {\n      const normalized = m.toLowerCase().trim();\n      if (!seen.has(normalized)) {\n        seen.add(normalized);\n        claims.push({ text: m, pattern: pattern.source.slice(0, 40) });\n      }\n    }\n  }\n  return claims;\n}\n\nfunction isGrounded(claim, evidenceList) {\n  if (!evidenceList.length) return { grounded: false, source: null };\n  const claimLow = claim.text.toLowerCase();\n  const claimWords = claimLow.split(/\\s+/).filter(w => w.length > 3);\n  \n  for (const ev of evidenceList) {\n    const evContent = String(ev.content || '').toLowerCase();\n    const evTitle = String(ev.title || '').toLowerCase();\n    const combined = evContent + ' ' + evTitle;\n    \n    const matchCount = claimWords.filter(w => combined.includes(w)).length;\n    const matchRatio = claimWords.length > 0 ? matchCount / claimWords.length : 0;\n    \n    const chfMatch = claim.text.match(/CHF\\s*[\\d,.']+/i);\n    const pctMatch = claim.text.match(/\\d+\\s*%/);\n    if (chfMatch && combined.includes(chfMatch[0].toLowerCase())) {\n      return { grounded: true, source: ev.source_id, matchType: 'amount_exact' };\n    }\n    if (pctMatch && combined.includes(pctMatch[0])) {\n      return { grounded: true, source: ev.source_id, matchType: 'percentage_exact' };\n    }\n    \n    if (matchRatio >= 0.4) {\n      return { grounded: true, source: ev.source_id, matchType: 'keyword_overlap', matchRatio };\n    }\n  }\n  return { grounded: false, source: null };\n}\n\nlet groundingStatus = 'skipped';\nlet groundingScore = 1.0;\nconst claimMappings = [];\nconst ungroundedClaims = [];\nlet modifiedDraft = draft;\n\nif (isPolicyMode) {\n  const extractedClaims = extractClaims(draft);\n  \n  if (extractedClaims.length === 0 && evidence.length > 0) {\n    groundingStatus = 'ok';\n  } else if (extractedClaims.length > 0 && evidence.length === 0) {\n    groundingStatus = 'failed';\n    groundingScore = 0.0;\n    ungroundedClaims.push(...extractedClaims.map(c => c.text));\n    modifiedDraft = \"I want to help with your policy question, but I need to verify the official information first. Could you tell me your canton and the specific benefit you're asking about? I'll make sure to provide you with accurate, sourced information.\";\n  } else if (extractedClaims.length > 0 && evidence.length > 0) {\n    let groundedCount = 0;\n    for (const claim of extractedClaims) {\n      const result = isGrounded(claim, evidence);\n      claimMappings.push({\n        claim: claim.text,\n        grounded: result.grounded,\n        source: result.source,\n        matchType: result.matchType || null\n      });\n      if (result.grounded) {\n        groundedCount++;\n      } else {\n        ungroundedClaims.push(claim.text);\n      }\n    }\n    \n    const groundingRatio = groundedCount / extractedClaims.length;\n    groundingScore = groundingRatio;\n    \n    if (groundingRatio >= 0.8) {\n      groundingStatus = 'ok';\n    } else if (groundingRatio >= 0.5) {\n      groundingStatus = 'degraded';\n      for (const uc of ungroundedClaims) {\n        const escaped = uc.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n        modifiedDraft = modifiedDraft.replace(new RegExp(escaped, 'gi'), '[information pending verification]');\n      }\n    } else {\n      groundingStatus = 'failed';\n      modifiedDraft = \"I found some policy information, but I want to make sure I give you accurate details. Based on what I can verify: \" + evidence.slice(0, 2).map(e => e.title).join(' and ') + \". Could you help me narrow down your specific question so I can provide properly sourced guidance?\";\n    }\n  } else {\n    groundingStatus = 'ok';\n  }\n} else {\n  const accidentalClaims = extractClaims(draft);\n  if (accidentalClaims.length > 0) {\n    groundingStatus = 'warning';\n    groundingScore = 0.7;\n    for (const ac of accidentalClaims) {\n      claimMappings.push({ claim: ac.text, grounded: false, source: null, warning: 'policy_claim_in_non_policy_mode' });\n    }\n  }\n}\n\nconst groundingEndedAt = Date.now();\nconst timing = {\n  ...(d.timing || {}),\n  grounding: {\n    status: groundingStatus,\n    started_at: new Date(groundingStartedAt).toISOString(),\n    ended_at: new Date(groundingEndedAt).toISOString(),\n    duration_ms: Math.max(0, groundingEndedAt - groundingStartedAt)\n  }\n};\n\nreturn [{ json: {\n  ...d,\n  timing,\n  reply: modifiedDraft,\n  grounding_verifier: {\n    status: groundingStatus,\n    score: Number(groundingScore.toFixed(2)),\n    claims_detected: claimMappings.length,\n    claims_grounded: claimMappings.filter(c => c.grounded).length,\n    claims_ungrounded: ungroundedClaims.length,\n    claim_mappings: claimMappings,\n    ungrounded_claims: ungroundedClaims,\n    evidence_count: evidence.length,\n    evidence_sources: evidence.map(e => e.source_id),\n    mode: mode,\n    is_policy_mode: isPolicyMode,\n    timestamp: new Date().toISOString()\n  }\n}}];"},"id":"grounding-verifier-01","name":"Grounding Verifier","type":"n8n-nodes-base.code","position":[1136,-896],"typeVersion":2},{"parameters":{"jsCode":"// ── STEP 6: VERIFICATION (P0-2: error pass-through) ──\nconst d = $input.first()?.json || {};\nif (d && d.success === false && d.error) return $input.all();\n\nconst rawDraft = d.reply || d.generator?.raw_content || d.choices?.[0]?.message?.content || '';\nconst draft = String(rawDraft || '').trim();\nconst groundingResult = d.grounding_verifier || {};\nconst verificationStartedAt = Date.now();\n\nconst issues = [];\nlet score = 1.0;\n\n// Integrate grounding verifier results\nif (groundingResult.status === 'failed') {\n  issues.push(`Grounding failed: ${groundingResult.claims_ungrounded} ungrounded policy claims`);\n  score -= 0.5;\n} else if (groundingResult.status === 'degraded') {\n  issues.push(`Grounding degraded: ${groundingResult.claims_ungrounded} claims replaced`);\n  score -= 0.2;\n} else if (groundingResult.status === 'warning') {\n  issues.push('Warning: policy claims detected in non-policy mode');\n  score -= 0.1;\n}\n\nconst bannedClaims = ['research shows','studies indicate','experts say','science shows','data suggests'];\nconst qCount = (draft.match(/\\?/g) || []).length;\nconst wCount = draft ? draft.split(/\\s+/).length : 0;\nconst hasSessionId = typeof d.session_id === 'string' && d.session_id.length > 0;\nconst hasMode = ['emotional_support', 'practical_education', 'policy_navigation', 'mixed'].includes(String(d.coaching_mode || ''));\n\nif (!hasSessionId) { issues.push('Missing session_id'); score -= 0.4; }\nif (!hasMode) { issues.push('Invalid coaching_mode'); score -= 0.3; }\nif (!draft) { issues.push('Empty assistant draft'); score -= 0.5; }\nif (qCount > 2) { issues.push(`Too many questions (${qCount})`); score -= 0.1; }\nif (wCount > 0 && (wCount < 12 || wCount > 220)) { issues.push(`Word count ${wCount} outside range`); score -= 0.15; }\nfor (const c of bannedClaims) {\n  if (draft.toLowerCase().includes(c)) {\n    issues.push(`Unsupported claim phrase: \"${c}\"`);\n    score -= 0.2;\n  }\n}\n\nlet verificationStatus = 'ok';\nlet finalReply = draft;\n\nif (!draft || score < 0.5 || issues.some((x) => x.includes('Missing session_id') || x.includes('Invalid coaching_mode'))) {\n  verificationStatus = 'failed';\n  finalReply = \"I want to support you safely. Could you share one specific concern right now so I can give structured next steps?\";\n} else if (issues.length > 0 && score < 0.8) {\n  verificationStatus = 'degraded';\n  finalReply = draft.replace(/research shows|studies indicate|experts say|science shows|data suggests/gi, 'from what is known');\n} else if (issues.length > 0) {\n  verificationStatus = 'passed_with_warnings';\n}\n\nconst verificationEndedAt = Date.now();\nconst timing = {\n  ...(d.timing || {}),\n  verification: {\n    status: verificationStatus,\n    started_at: new Date(verificationStartedAt).toISOString(),\n    ended_at: new Date(verificationEndedAt).toISOString(),\n    duration_ms: Math.max(0, verificationEndedAt - verificationStartedAt)\n  }\n};\n\nreturn [{ json: {\n  ...d,\n  timing,\n  reply: finalReply,\n  choices: [{ message: { content: finalReply } }],\n  verifier: {\n    verification_status: verificationStatus,\n    adherence_score: Math.max(0, Number(score.toFixed(2))),\n    issues_identified: issues,\n    blocked: verificationStatus === 'failed',\n    verified_response: finalReply,\n    original_response: rawDraft,\n    grounding_integrated: true,\n    grounding_status: groundingResult.status || 'skipped',\n    grounding_score: groundingResult.score || null,\n    timestamp: new Date().toISOString()\n  }\n}}];"},"id":"e0ff7006-055e-4001-be31-ce3860a09fb6","name":"Verification & Refinement (Implemented)","type":"n8n-nodes-base.code","position":[1360,-896],"typeVersion":2},{"parameters":{"jsCode":"// ── STEP 7: FORMAT FINAL RESPONSE for webhook (P0-2: error envelope pass-through) ──\nconst d = $input.first().json;\nif (d && d.success === false && d.error && typeof d.error === 'object') {\n  return [{ json: { success: false, error: d.error, request_id: d.request_id || '', session_id: d.session_id || '', fallback_content: d.fallback_content || \"I'm here to help. How can I support you today?\" } }];\n}\nconst hasContent = (d.reply || d.verifier?.verified_response || d.generator?.raw_content || '').toString().trim().length > 0;\nif (!d.session_id || !hasContent) {\n  return [{ json: { success: false, error: { error_code: 'verifier_fallback', message: 'Response could not be verified.', stage: 'verification', retryable: true }, request_id: d.request_id || '', session_id: d.session_id || '', fallback_content: \"I'm here to help. How can I support you today?\" } }];\n}\n\nconst mode = d.coaching_mode || 'emotional_support';\nconst isPolicyMode = mode === 'policy_navigation' || mode === 'mixed';\nconst retrievalEvidence = Array.isArray(d.retrieval?.evidence) ? d.retrieval.evidence : [];\nconst hasEvidence = retrievalEvidence.length > 0;\nconst groundingResult = d.grounding_verifier || {};\n\nlet content = d.reply || d.verifier?.verified_response || d.generator?.raw_content || 'How can I help you today?';\nif (isPolicyMode && !hasEvidence) {\n  const fallbackPolicy = \"I can help with policy navigation, but I do not have verified source evidence right now. I can provide general guidance first, and we should confirm details with official cantonal or federal sources. Could you share your canton and exact benefit question?\";\n  content = mode === 'mixed' ? `${content}\\n\\n${fallbackPolicy}` : fallbackPolicy;\n}\n\nconst citations = hasEvidence\n  ? retrievalEvidence.map((e) => ({\n      source_id: e.source_id || 'unknown_source',\n      title: e.title || 'Untitled source',\n      url: e.url || ''\n    }))\n  : [];\n\nconst retrievalStatus = isPolicyMode ? (hasEvidence ? 'ok' : 'degraded') : 'skipped';\n\nconst nowMs = Date.now();\nconst ingestedAtMs = Date.parse(String(d.ingested_at || ''));\nconst endToEndMs = Number.isFinite(ingestedAtMs) ? Math.max(0, nowMs - ingestedAtMs) : undefined;\nconst timing = d.timing || {};\nconst stageTimings = [\n  { stage: 'detection', status: String(timing?.detection?.status || d.detector?.api_status || 'unknown'), duration_ms: timing?.detection?.duration_ms },\n  { stage: 'routing', status: String(timing?.routing?.status || mode || 'unknown'), duration_ms: timing?.routing?.duration_ms },\n  { stage: 'retrieval', status: String(timing?.retrieval?.status || retrievalStatus), duration_ms: timing?.retrieval?.duration_ms },\n  { stage: 'generation', status: String(timing?.generation?.status || d.generator?.api_status || 'unknown'), duration_ms: timing?.generation?.duration_ms },\n  { stage: 'grounding', status: String(timing?.grounding?.status || groundingResult.status || 'skipped'), duration_ms: timing?.grounding?.duration_ms },\n  { stage: 'verification', status: String(timing?.verification?.status || d.verifier?.verification_status || 'unknown'), duration_ms: timing?.verification?.duration_ms },\n  ...(typeof endToEndMs === 'number' ? [{ stage: 'end_to_end', status: 'ok', duration_ms: endToEndMs }] : [])\n];\n\nreturn [{ json: {\n  session_id: d.session_id || '',\n  message: {\n    role: 'assistant',\n    content,\n    timestamp: new Date().toISOString()\n  },\n  personality_state: {\n    ocean: d.detector?.smoothed_ocean || d.ocean_disc || {O:0,C:0,E:0,A:0,N:0},\n    stable: d.detector?.personality_stable || false,\n    confidence: d.detector?.smoothed_confidence || {},\n    ema_applied: d.detector?.ema_applied || false\n  },\n  policy_navigation: {\n    active: isPolicyMode,\n    citations,\n    grounding: {\n      status: groundingResult.status || 'skipped',\n      score: groundingResult.score || null,\n      claims_detected: groundingResult.claims_detected || 0,\n      claims_grounded: groundingResult.claims_grounded || 0\n    }\n  },\n  regulation: {\n    directives: d.directives || [],\n    zurich_applied: d.regulator?.zurich_applied || false\n  },\n  pipeline_status: {\n    detector: d.detector?.api_status || 'unknown',\n    generator: d.generator?.api_status || 'unknown',\n    verifier: d.verifier?.verification_status || 'unknown',\n    retrieval: retrievalStatus,\n    grounding: groundingResult.status || 'skipped',\n    fact_invariance_check: isPolicyMode ? (groundingResult.status === 'ok' ? 'pass' : groundingResult.status === 'degraded' ? 'partial' : 'fail') : 'skipped'\n  },\n  debug: {\n    detection_error: d.detector?.error || null,\n    generation_error: d.generator?.error || null,\n    topics_detected: d.generator?.topics_detected || [],\n    turn_index: d.turn_index || 1,\n    mode_scores: d.mode_scores || null,\n    retrieval_evidence_count: retrievalEvidence.length,\n    grounding_claim_mappings: groundingResult.claim_mappings || [],\n    retrieval_debug: d.retrieval?.debug_raw || null,\n    model_tier_requested: d.model_tier_requested || d.context?.model_tier || null,\n    model_tier_effective: d.model_tier_effective || d.context?.model_tier || null,\n    retrieval_top_k: d.retrieval_top_k || null\n  },\n  coaching_mode: mode,\n  mode_confidence: d.mode_confidence ?? null,\n  request_id: d.request_id || '',\n  stage_timings: stageTimings\n}}];"},"id":"fmt-resp-mvp-001","name":"Format Response","type":"n8n-nodes-base.code","position":[1584,-800],"typeVersion":2},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"46cd8193-d10e-48a4-aed4-f27f9ef2e2a6","name":"Return API Response","type":"n8n-nodes-base.respondToWebhook","position":[1808,-800],"typeVersion":1.1},{"parameters":{"jsCode":"// ── DB PREP: Ensure valid UUID before saves ──\nconst d = $input.first().json;\nconst raw = String(d.session_id || '').trim();\nconst re = /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\nfunction uuidV4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\nreturn [{ json: { ...d, safe_session_id: re.test(raw) ? raw : uuidV4() } }];"},"id":"ensure-session-uuid","name":"Ensure Session UUID","type":"n8n-nodes-base.code","position":[1584,-1040],"typeVersion":2},{"parameters":{"operation":"executeQuery","query":"INSERT INTO chat_sessions (session_id, user_id, status, locale, canton)\nVALUES ('{{ $json.safe_session_id }}'::uuid, {{ $json.user_id ? \"'\" + $json.user_id + \"'::uuid\" : \"NULL\" }}, 'active', '{{ $json.context?.language || \"en\" }}', '{{ ($json.context?.canton || \"ZH\").slice(0,2) }}')\nON CONFLICT (session_id) DO UPDATE SET status = 'active', user_id = COALESCE(EXCLUDED.user_id, chat_sessions.user_id), locale = EXCLUDED.locale, canton = EXCLUDED.canton","options":{}},"id":"5fab0eb5-5b7e-4d31-a386-1301e64efa79","name":"Save Session (PostgreSQL)","type":"n8n-nodes-base.postgres","position":[1808,-1184],"typeVersion":2.4,"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"postgres":{"id":"postgres-cred-new","name":"Big5Loop PostgreSQL New"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO conversation_turns (session_id, turn_index, user_msg, assistant_msg, mode, latency_ms)\nVALUES ('{{ $json.safe_session_id }}'::uuid, {{ $json.turn_index || 1 }}, $${{ $json.clean_msg || $json.user_message || '' }}$$, $${{ $json.reply || $json.verifier?.verified_response || '' }}$$, '{{ $json.coaching_mode || \"emotional_support\" }}', NULL)\nON CONFLICT (session_id, turn_index) DO UPDATE SET assistant_msg = EXCLUDED.assistant_msg, mode = EXCLUDED.mode","options":{}},"id":"d7f1a58e-2c73-4ae9-9095-452285d09846","name":"Save Conversation Turn (PostgreSQL)","type":"n8n-nodes-base.postgres","position":[1808,-992],"typeVersion":2.4,"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"postgres":{"id":"postgres-cred-new","name":"Big5Loop PostgreSQL New"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO personality_states (session_id, turn_index, ocean_json, confidence_json, stable, ema_alpha)\nVALUES ('{{ $json.safe_session_id }}'::uuid, {{ $json.turn_index || 1 }},\n  jsonb_build_object('O',{{ $json.detector?.smoothed_ocean?.O || 0 }},'C',{{ $json.detector?.smoothed_ocean?.C || 0 }},'E',{{ $json.detector?.smoothed_ocean?.E || 0 }},'A',{{ $json.detector?.smoothed_ocean?.A || 0 }},'N',{{ $json.detector?.smoothed_ocean?.N || 0 }}),\n  jsonb_build_object('O',{{ $json.detector?.smoothed_confidence?.O || 0.5 }},'C',{{ $json.detector?.smoothed_confidence?.C || 0.5 }},'E',{{ $json.detector?.smoothed_confidence?.E || 0.5 }},'A',{{ $json.detector?.smoothed_confidence?.A || 0.5 }},'N',{{ $json.detector?.smoothed_confidence?.N || 0.5 }}),\n  {{ $json.detector?.personality_stable ? 'true' : 'false' }}, {{ $json.detector?.ema_alpha || 0.3 }})\nON CONFLICT (session_id, turn_index) DO UPDATE SET ocean_json=EXCLUDED.ocean_json, confidence_json=EXCLUDED.confidence_json, stable=EXCLUDED.stable","options":{}},"id":"878ae901-a26b-44d4-abe1-f534fa65b3eb","name":"Save Personality State (PostgreSQL)","type":"n8n-nodes-base.postgres","position":[1808,-608],"typeVersion":2.4,"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"postgres":{"id":"postgres-cred-new","name":"Big5Loop PostgreSQL New"}}},{"parameters":{"content":"## Phase 1-2 PostgreSQL Workflow (Tiered Architecture)\n\n**Architecture:**\n- Tier Router after Ingest: Simple (light) bypasses pipeline, Standard (medium) runs full pipeline\n- **Simple (light):** Ingest → Router → Direct LLM → Response\n- **Standard (medium):** Ingest → Router → Load State → Merge → Detect → Regulate → Retrieve → Generate → Ground → Verify → Format → Response\n- **Detailed (heavy):** Removed — maps to Standard\n- DB saves are fire-and-forget for both paths\n\n**Simple Path:**\n- Direct NVIDIA API call with basic system prompt\n- No personality detection, no regulation, no policy retrieval\n- Fastest response time, suitable for casual conversation\n\n**Standard Path:**\n- Full pipeline with personality-aware generation\n- Grounding Verifier ensures policy claims map to evidence\n- Outputs claim_mappings for audit\n\n**Phase 3 (error contract):** If adding an error branch, return { success: false, error: { error_code, message, stage }, request_id }.","height":340,"width":496},"id":"7fa552da-868b-463e-8df5-f569b7e3f402","name":"PostgreSQL Info","type":"n8n-nodes-base.stickyNote","position":[-368,-1968],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"session_id_field","name":"session_id","type":"string","value":"550e8400-e29b-41d4-a716-446655440002"},{"id":"turn_index_field","name":"turn_index","type":"number","value":1},{"id":"message_field","name":"message","type":"string","value":"I feel really overwhelmed with work. There's so much to do and I don't know where to start."}]},"options":{}},"id":"82301bf5-2b0a-43b1-8d9d-b3e0b50d57e6","name":"Edit Fields","type":"n8n-nodes-base.set","position":[-656,-992],"typeVersion":3.4},{"parameters":{},"id":"41d26287-0460-4c3a-8a04-a733a16bc21b","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","position":[-880,-992],"typeVersion":1}],"connections":{"Webhook Trigger (POST Zurich)":{"main":[[{"node":"Enhanced Ingest (Zurich)","type":"main","index":0}]]},"Enhanced Ingest (Zurich)":{"main":[[{"node":"Load Previous State (PostgreSQL)","type":"main","index":0},{"node":"Merge Previous State","type":"main","index":0}]]},"Load Previous State (PostgreSQL)":{"main":[[{"node":"Merge Previous State","type":"main","index":0}]]},"Merge Previous State":{"main":[[{"node":"Zurich Model Detection (EMA)","type":"main","index":0},{"node":"Policy Retrieval (PostgreSQL)","type":"main","index":0}]]},"Zurich Model Detection (EMA)":{"main":[[{"node":"Enhanced Regulation (Implemented)","type":"main","index":0}]]},"Enhanced Regulation (Implemented)":{"main":[[{"node":"Merge Retrieval","type":"main","index":0}]]},"Policy Retrieval (PostgreSQL)":{"main":[[{"node":"Merge Retrieval","type":"main","index":1}]]},"Merge Retrieval":{"main":[[{"node":"Enhanced Generation (Implemented)","type":"main","index":0}]]},"Enhanced Generation (Implemented)":{"main":[[{"node":"Grounding Verifier","type":"main","index":0}]]},"Grounding Verifier":{"main":[[{"node":"Verification & Refinement (Implemented)","type":"main","index":0}]]},"Verification & Refinement (Implemented)":{"main":[[{"node":"Format Response","type":"main","index":0},{"node":"Ensure Session UUID","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Return API Response","type":"main","index":0}]]},"Ensure Session UUID":{"main":[[{"node":"Save Session (PostgreSQL)","type":"main","index":0},{"node":"Save Conversation Turn (PostgreSQL)","type":"main","index":0},{"node":"Save Personality State (PostgreSQL)","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Enhanced Ingest (Zurich)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"global":{"_cache":{"Hello":{"ocean":{"O":-0.5,"C":-0.5,"E":-0.5,"A":0,"N":-0.5},"confidence":{"O":0.8,"C":0.8,"E":0.8,"A":0.8,"N":0.8},"ts":1773199382287},"What benefits can I get for elderly care in Zurich?":{"ocean":{"O":-0.5,"C":0.5,"E":-0.5,"A":0.2,"N":-0.4},"confidence":{"O":0.8,"C":0.8,"E":0.8,"A":0.8,"N":0.8},"ts":1773199400771},"My father needs help with daily activities.":{"ocean":{"O":-0.5,"C":0.1,"E":-0.6,"A":0.2,"N":-0.3},"confidence":{"O":0.8,"C":0.8,"E":0.8,"A":0.8,"N":0.8},"ts":1773199415711},"How do I find local caregiver support groups in my area in Switzerland?":{"ocean":{"O":0.2,"C":0.6,"E":-0.4,"A":0.2,"N":-0.3},"confidence":{"O":0.8,"C":0.8,"E":0.8,"A":0.8,"N":0.8},"ts":1773200527244}}}},"meta":{},"pinData":{},"versionId":"2a85d0c6-0660-49c8-8251-958a4179bfce","activeVersionId":"2a85d0c6-0660-49c8-8251-958a4179bfce","versionCounter":15,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-05T01:48:24.413Z","createdAt":"2026-03-05T01:48:24.413Z","role":"workflow:owner","workflowId":"Qdw2nuaxVGOSSCbi","projectId":"wSiYQN65a6B1YibX","project":{"updatedAt":"2026-03-06T17:57:05.667Z","createdAt":"2026-03-04T09:37:52.772Z","id":"wSiYQN65a6B1YibX","name":"Admin CareLoop <admin@careloop.ch>","type":"personal","icon":null,"description":null,"creatorId":"4dd8e1e3-8ba2-4145-a9ec-52699209cb93"}}],"versionMetadata":{"name":null,"description":null}}]