thesis project/pmt/MVP/workflows/Discrete_workflow_Gemini_1.5.json
{
  "name": "Discrete Workflow - 404 Error Fixed",
  "nodes": [
    {
      "parameters": {},
      "id": "221bd71b-08d0-4705-827a-8bf7892d1772",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [368, -96]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"session_id\": \"f47ac10b-58cc-4372-a567-0e02b2c3d479\",\n  \"message\": \"Give me a supportive tip for my presentation anxiety.\"\n}",
        "options": {}
      },
      "id": "bd6de7e6-177d-4716-b12a-bb36dde1117e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [576, -96]
    },
    {
      "parameters": {
        "functionCode": "// Extract per-turn fields only (no history weighting)\nconst b = $json || {};\nconst sessionId = b.session_id || 'f47ac10b-58cc-4372-a567-0e02b2c3d479';\nconst msg = String(b.message || '').trim();\nreturn {\n  session_id: sessionId,\n  clean_msg: msg,\n  // per Samuel: detect on turn text; allow optional last-N in future\n  conversation_context: `user: ${msg}`\n};"
      },
      "id": "7888002b-8626-46d7-89a5-5d67349dd68e",
      "name": "Ingest (Per-turn, no smoothing)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [768, -96]
    },
    {
      "parameters": {
        "jsCode": "// FIXED: Using confirmed working Gemini model\nconst GEMINI_API_KEY = 'AIzaSyCu7cMyJAB4ossEePGYQQGpzjlqAfbIG2E';\n\nconst ctx = String($input.first().json.conversation_context || '').trim();\n\n// Handle empty context\nif (!ctx) {\n  console.log('⚠️ No conversation context provided, returning default values');\n  return [{ json: { choices: [{ message: { content: '{\"ocean_disc\":{\"O\":0,\"C\":0,\"E\":0,\"A\":0,\"N\":0}}' } }], api_used: 'default' } }];\n}\n\nconst prompt = `You are a personality detector. Infer Big Five from the user text for THIS TURN ONLY. Return JSON ONLY exactly as: {\"ocean_disc\":{\"O\":-1|0|1,\"C\":-1|0|1,\"E\":-1|0|1,\"A\":-1|0|1,\"N\":-1|0|1}} No prose.\\n\\nText: ${ctx}`;\n\nconsole.log('🚀 Calling Gemini API for OCEAN detection...');\nconsole.log('📝 Prompt length:', prompt.length, 'characters');\nconsole.log('🔗 Context:', ctx.substring(0, 100) + (ctx.length > 100 ? '...' : ''));\n\n// ✅ CONFIRMED WORKING MODEL: gemini-1.5-flash\nconst model = 'gemini-1.5-flash';\nconst apiUrl = `https://generativelanguage.googleapis.com/v1beta/models/${model}:generateContent?key=${GEMINI_API_KEY}`;\n\nconsole.log('🌐 API URL:', apiUrl);\nconsole.log('🤖 Model:', model);\n\nconst options = {\n  method: 'POST',\n  url: apiUrl,\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    contents: [{ parts: [{ text: prompt }] }],\n    generationConfig: { \n      temperature: 0.1, \n      maxOutputTokens: 200, \n      topK: 40, \n      topP: 0.95 \n    },\n    safetySettings: [\n      { category: 'HARM_CATEGORY_HARASSMENT', threshold: 'BLOCK_MEDIUM_AND_ABOVE' },\n      { category: 'HARM_CATEGORY_HATE_SPEECH', threshold: 'BLOCK_MEDIUM_AND_ABOVE' },\n      { category: 'HARM_CATEGORY_SEXUALLY_EXPLICIT', threshold: 'BLOCK_MEDIUM_AND_ABOVE' },\n      { category: 'HARM_CATEGORY_DANGEROUS_CONTENT', threshold: 'BLOCK_MEDIUM_AND_ABOVE' }\n    ]\n  }),\n  timeout: 20000\n};\n\ntry {\n  console.log('📡 Making HTTP request...');\n  const response = await this.helpers.httpRequest(options);\n  \n  console.log('📊 Raw Gemini Response:', JSON.stringify(response, null, 2));\n  console.log('✅ HTTP request successful');\n  \n  if (response.candidates && response.candidates.length > 0) {\n    let content = response.candidates[0].content.parts[0].text;\n    console.log('✅ Got candidates from API');\n    console.log('📝 Raw content received:', content);\n    \n    // Handle JSON extraction (strip markdown if present)\n    let cleanedContent = content;\n    if (content.includes('```')) {\n      cleanedContent = content.replace(/```json\\s*|\\s*```/g, '').trim();\n      console.log('🧹 Cleaned content:', cleanedContent);\n    }\n    \n    // Validate JSON\n    try {\n      const testParse = JSON.parse(cleanedContent);\n      console.log('✅ JSON parsing successful:', JSON.stringify(testParse));\n      \n      return [{ json: { choices: [{ message: { content: cleanedContent } }], api_used: model, status: 'success' } }];\n    } catch (jsonError) {\n      console.log('⚠️ JSON parsing failed:', jsonError.message);\n      console.log('🔄 Using original content as fallback');\n      \n      return [{ json: { choices: [{ message: { content: content } }], api_used: model, status: 'json_parse_failed' } }];\n    }\n    \n  } else {\n    console.log('❌ No candidates in response');\n    \n    // Check for safety blocking\n    if (response.promptFeedback && response.promptFeedback.blockReason) {\n      const reason = response.promptFeedback.blockReason;\n      console.log(`🛡️ Blocked by safety filters: ${reason}`);\n      \n      return [{ json: { choices: [{ message: { content: '{\"ocean_disc\":{\"O\":0,\"C\":0,\"E\":0,\"A\":0,\"N\":0}}' } }], error: `Safety filter: ${reason}`, api_used: 'blocked' } }];\n    } else {\n      console.log('🔍 Full response for debugging:', JSON.stringify(response, null, 2));\n      \n      return [{ json: { choices: [{ message: { content: '{\"ocean_disc\":{\"O\":0,\"C\":0,\"E\":0,\"A\":0,\"N\":0}}' } }], error: 'No candidates', api_used: 'no_candidates' } }];\n    }\n  }\n  \n} catch (error) {\n  console.log('❌ HTTP Request Error:', error.message);\n  console.log('📊 Error details:', error);\n  \n  // Enhanced error analysis\n  if (error.message && error.message.includes('404')) {\n    console.log('🔍 404 Error Analysis:');\n    console.log('   • Model used:', model);\n    console.log('   • URL constructed:', apiUrl);\n    console.log('   • Possible issue: Model name incorrect or endpoint changed');\n  } else if (error.message && error.message.includes('429')) {\n    console.log('⚠️ Quota exceeded - expected on free tier');\n  }\n  \n  return [{ json: { choices: [{ message: { content: '{\"ocean_disc\":{\"O\":0,\"C\":0,\"E\":0,\"A\":0,\"N\":0}}' } }], error: error.message, api_used: 'error', model_used: model, url_used: apiUrl } }];\n}"
      },
      "id": "0dc686cd-04ac-4dd1-be1e-8bb23718c385",
      "name": "Detect OCEAN (404 Fixed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, -96]
    },
    {
      "parameters": {
        "jsCode": "// Enhanced JSON parsing with better error handling\nconst det = $input.first()?.json || {};\nconst raw = det?.choices?.[0]?.message?.content ?? '';\n\n// Get session data\nconst ingestData = $items('Ingest (Per-turn, no smoothing)', 'main', 0)?.json || {};\n\nconsole.log('Parse Detection - API Status:', det.status || 'unknown');\nconsole.log('Parse Detection - API Used:', det.api_used || 'unknown');\nconsole.log('Parse Detection - Error:', det.error || 'none');\nconsole.log('Parse Detection - Raw content:', raw);\n\nlet parsed = {};\n\n// Enhanced JSON extraction\nif (raw) {\n  let jsonContent = raw;\n  \n  // Strip markdown blocks if present\n  if (raw.includes('```')) {\n    jsonContent = raw.replace(/```json\\s*|\\s*```/g, '').trim();\n    console.log('🧹 Stripped markdown:', jsonContent);\n  }\n  \n  try {\n    parsed = JSON.parse(jsonContent);\n    console.log('✅ JSON parsing successful');\n  } catch (e1) {\n    console.log('⚠️ Direct parsing failed, trying regex extraction...');\n    \n    const jsonMatch = raw.match(/\\{[^}]*\"ocean_disc\"[^}]*\\{[^}]*\\}[^}]*\\}/);\n    if (jsonMatch) {\n      try {\n        parsed = JSON.parse(jsonMatch[0]);\n        console.log('✅ Regex extraction successful');\n      } catch (e2) {\n        console.log('❌ Regex extraction failed:', e2.message);\n      }\n    }\n  }\n}\n\nconsole.log('Parse Detection - Parsed object:', JSON.stringify(parsed));\n\n// Extract OCEAN values\nlet oceanDisc = parsed?.ocean_disc || { O: 0, C: 0, E: 0, A: 0, N: 0 };\n\n// Session data\nconst turnText = ingestData?.clean_msg || '';\nconst sessionId = ingestData?.session_id || '';\n\nconsole.log('Parse Detection - Final OCEAN values:', JSON.stringify(oceanDisc));\nconsole.log('Parse Detection - Session ID:', sessionId);\nconsole.log('Parse Detection - Turn text:', turnText);\n\nreturn [{\n  json: {\n    ocean_disc: oceanDisc,\n    turn_text: turnText,\n    session_id: sessionId,\n    detection_status: det.status || 'unknown',\n    api_used: det.api_used || 'unknown'\n  }\n}];"
      },
      "id": "683c9e0f-ca4e-4ffd-b7e0-a6051c8ed158",
      "name": "Parse Detection JSON (Enhanced Debug)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1216, -96]
    },
    {
      "parameters": {
        "functionCode": "// Map discrete OCEAN to behavior prompts\nconst inputData = $json || {};\nconst od = inputData.ocean_disc || { O:0,C:0,E:0,A:0,N:0 };\nconst sessionId = inputData.session_id || '';\nconst turnText = inputData.turn_text || '';\n\nconst dirs = [];\n// Security (N)\nif (od.N === -1) dirs.push('offer extra comfort; acknowledge anxieties');\nif (od.N === 1)  dirs.push('reassure stability and confidence');\n// Arousal (O,E)\nif (od.O === 1) dirs.push('invite small exploration/novelty');\nif (od.O === -1) dirs.push('reduce novelty; focus on familiar');\nif (od.E === 1) dirs.push('use energetic, engaging tone');\nif (od.E === -1) dirs.push('adopt calm, reflective tone');\n// Affiliation (A)\nif (od.A === 1) dirs.push('use warm, collaborative language');\nif (od.A === -1) dirs.push('stay neutral and matter-of-fact');\n// Conscientiousness (C)\nif (od.C === 1) dirs.push('provide 2-3 structured steps');\nif (od.C === -1) dirs.push('keep guidance flexible and low-pressure');\n// Keep concise\nconst directives = dirs.slice(0,5);\n\nconsole.log('Regulation - OCEAN detection status:', inputData.detection_status);\nconsole.log('Regulation - API used:', inputData.api_used);\nconsole.log('Regulation - OCEAN disc:', JSON.stringify(od));\nconsole.log('Regulation - Generated directives:', JSON.stringify(directives));\n\nreturn {\n  session_id: sessionId,\n  turn_text: turnText,\n  ocean_disc: od,\n  directives,\n  detection_status: inputData.detection_status\n};"
      },
      "id": "e3adc0dd-a9b4-4f20-bb95-9c1eef79bbca",
      "name": "Build Regulation Directives (Zurich Model)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1408, -96]
    },
    {
      "parameters": {
        "jsCode": "// Response generation with confirmed working model\nconst GEMINI_API_KEY = 'AIzaSyCu7cMyJAB4ossEePGYQQGpzjlqAfbIG2E';\n\nconst inputData = $input.first()?.json || {};\nconst directives = inputData?.directives || [];\nconst sessionId = inputData?.session_id || '';\nconst turnText = inputData?.turn_text || '';\nconst oceanDisc = inputData?.ocean_disc || { O:0, C:0, E:0, A:0, N:0 };\n\nconsole.log('Generate Response - Detection status:', inputData.detection_status);\nconsole.log('Generate Response - Directives:', JSON.stringify(directives));\n\nlet userText = turnText.trim();\nif (!userText) {\n  userText = 'Please provide a supportive reply.';\n}\n\nconst systemPrompt = [\n  'You are a supportive assistant. Follow these behavior directives strictly:',\n  JSON.stringify(directives),\n  'Constraints: stay grounded in the user text only; 1-2 questions max; 70-150 words.'\n].join(' ');\n\nconst fullPrompt = `${systemPrompt}\\n\\nUser: ${userText}`;\n\nconsole.log('🚀 Calling Gemini API for response generation...');\n\n// ✅ CONFIRMED WORKING MODEL\nconst model = 'gemini-1.5-flash';\nconst apiUrl = `https://generativelanguage.googleapis.com/v1beta/models/${model}:generateContent?key=${GEMINI_API_KEY}`;\n\nconst options = {\n  method: 'POST',\n  url: apiUrl,\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({\n    contents: [{ parts: [{ text: fullPrompt }] }],\n    generationConfig: { \n      temperature: 0.7, \n      maxOutputTokens: 220, \n      topK: 40, \n      topP: 0.95 \n    }\n  }),\n  timeout: 20000\n};\n\ntry {\n  const response = await this.helpers.httpRequest(options);\n  \n  if (response.candidates && response.candidates.length > 0) {\n    const content = response.candidates[0].content.parts[0].text;\n    console.log('✅ Response generation successful');\n    console.log('📝 Generated:', content.substring(0, 100) + '...');\n    \n    return {\n      json: {\n        choices: [{ message: { content } }],\n        session_id: sessionId,\n        turn_text: turnText,\n        ocean_disc: oceanDisc,\n        directives: directives,\n        api_used: model,\n        status: 'success'\n      }\n    };\n  } else {\n    console.log('❌ No candidates in response generation');\n    \n    return {\n      json: {\n        choices: [{ message: { content: 'Response generation temporarily unavailable. Take 3 deep breaths.' } }],\n        error: 'No candidates',\n        session_id: sessionId,\n        turn_text: turnText,\n        ocean_disc: oceanDisc,\n        directives: directives,\n        api_used: 'no_candidates'\n      }\n    };\n  }\n  \n} catch (error) {\n  console.log('❌ Response generation error:', error.message);\n  \n  return {\n    json: {\n      choices: [{ message: { content: 'Response generation encountered an error. Take 3 deep breaths.' } }],\n      error: error.message,\n      session_id: sessionId,\n      turn_text: turnText,\n      ocean_disc: oceanDisc,\n      directives: directives,\n      api_used: 'error'\n    }\n  };\n}"
      },
      "id": "d6f09df4-4396-48f3-91b0-c5a49a8ba154",
      "name": "Generate Response (404 Fixed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1616, -96]
    },
    {
      "parameters": {
        "functionCode": "// Extract reply and assemble final output\nconst generateData = $json || {};\nconst reply = generateData?.choices?.[0]?.message?.content?.trim() || 'Response unavailable.';\n\n// Get fallback data\nconst reg = ($items('Build Regulation Directives (Zurich Model)', 'main', 0)?.json) || {};\n\nconsole.log('Format Output - Response status:', generateData.status || 'unknown');\nconsole.log('Format Output - API used:', generateData.api_used || 'unknown');\nconsole.log('Format Output - Error:', generateData.error || 'none');\n\n// Return clean final format\nreturn {\n  session_id: generateData.session_id || reg.session_id || '',\n  reply,\n  turn_text: generateData.turn_text || reg.turn_text || '',\n  ocean_disc: generateData.ocean_disc || reg.ocean_disc || { O:0, C:0, E:0, A:0, N:0 },\n  workflow_status: {\n    detection_api: reg.detection_status || 'unknown',\n    generation_api: generateData.api_used || 'unknown',\n    errors: {\n      detection: generateData.error || 'none',\n      generation: generateData.error || 'none'\n    }\n  }\n};"
      },
      "id": "80414a6f-12e1-48be-9dec-2bc616007399",
      "name": "Format Output (Enhanced Debug)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1840, -96]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Ingest (Per-turn, no smoothing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest (Per-turn, no smoothing)": {
      "main": [
        [
          {
            "node": "Detect OCEAN (404 Fixed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect OCEAN (404 Fixed)": {
      "main": [
        [
          {
            "node": "Parse Detection JSON (Enhanced Debug)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Detection JSON (Enhanced Debug)": {
      "main": [
        [
          {
            "node": "Build Regulation Directives (Zurich Model)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Regulation Directives (Zurich Model)": {
      "main": [
        [
          {
            "node": "Generate Response (404 Fixed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response (404 Fixed)": {
      "main": [
        [
          {
            "node": "Format Output (Enhanced Debug)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dfc1f0e-aa58-426e-9ceb-3865678789ea",
  "meta": {
    "instanceId": "d89794e06cc2305b770e1dc943eb7ff194d272f0e1f67dd864b5ba2d2d08831a"
  },
  "id": "zoTnpTlfkicHHF66",
  "tags": []
}
