thesis project/pmt/MVP/workflows/My workflow 5 (1) copy.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "id": "221bd71b-08d0-4705-827a-8bf7892d1772",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        368,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"session_id\": \"f47ac10b-58cc-4372-a567-0e02b2c3d479\",\n  \"message\": \"Give me a supportive tip for my presentation anxiety.\"\n}",
        "options": {}
      },
      "id": "bd6de7e6-177d-4716-b12a-bb36dde1117e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -96
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract per-turn fields only (no history weighting)\nconst b = $json || {};\nconst sessionId = b.session_id || 'f47ac10b-58cc-4372-a567-0e02b2c3d479';\nconst msg = String(b.message || '').trim();\nreturn {\n  session_id: sessionId,\n  clean_msg: msg,\n  // per Samuel: detect on turn text; allow optional last-N in future\n  conversation_context: `user: ${msg}`\n};"
      },
      "id": "7888002b-8626-46d7-89a5-5d67349dd68e",
      "name": "Ingest (Per-turn, no smoothing)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        768,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = 'sk-nU7RSKnbZIOwH607r3MfbW5HmP6NIaj1aGVPFGcNDDiL0h5u';\nconst model = 'gemini-1.5-pro';\nconst url = 'https://ai.juguang.chat/v1/chat/completions';\nconst ctx = String($input.first().json.conversation_context || '').trim();\n\nif (!ctx) {\n  return [{ json: { choices: [{ message: { content: '{\"ocean_disc\":{\"O\":0,\"C\":0,\"E\":0,\"A\":0,\"N\":0}}' } }] } }];\n}\n\nconst headers = {\n  'Authorization': `Bearer ${apiKey}`,\n  'Content-Type': 'application/json'\n};\n\nconst body = {\n  model: model,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a personality detector. Infer Big Five from the user text for THIS TURN ONLY. Return JSON ONLY exactly as: {\"ocean_disc\":{\"O\":-1|0|1,\"C\":-1|0|1,\"E\":-1|0|1,\"A\":-1|0|1,\"N\":-1|0|1}} No prose.'\n    },\n    {\n      role: 'user',\n      content: `Text: ${ctx}`\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 200\n};\n\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'POST',\n    url: url,\n    headers: headers,\n    body: body,\n    timeout: 20000\n  });\n  return [{ json: res.json || res }];\n} catch (error) {\n  return [{ json: { choices: [{ message: { content: '{\"ocean_disc\":{\"O\":0,\"C\":0,\"E\":0,\"A\":0,\"N\":0}}' } }], error: error.message } }];\n}"
      },
      "id": "0dc686cd-04ac-4dd1-be1e-8bb23718c385",
      "name": "Detect OCEAN (Discrete, Gemini Pro)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const allInputs = $input.all();\nconst det = allInputs[0]?.json || {};\nconst raw = det?.choices?.[0]?.message?.content ?? '';\n\nlet parsed = {};\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  const match = raw.match(/\\{[^}]*\\}/); \n  if (match) {\n    try {\n      parsed = JSON.parse(match[0]);\n    } catch (e2) {\n      parsed = {};\n    }\n  }\n}\n\nlet oceanDisc = parsed?.ocean_disc;\nif (!oceanDisc && parsed?.ocean) {\n  const thr = 0.2;\n  const o = parsed.ocean;\n  const sign = (v) => (v >= thr ? 1 : (v <= -thr ? -1 : 0));\n  oceanDisc = {\n    O: sign(o.O || 0),\n    C: sign(o.C || 0), \n    E: sign(o.E || 0),\n    A: sign(o.A || 0),\n    N: sign(o.N || 0)\n  };\n}\n\nconst od = oceanDisc || { O: 0, C: 0, E: 0, A: 0, N: 0 };\n\nlet ingest = null;\nif (allInputs.length > 1) {\n  ingest = allInputs[1]?.json || null;\n}\n\nconst turnText = ingest?.clean_msg || '';\nconst sessionId = ingest?.session_id || '';\n\nreturn [{\n  json: {\n    ocean_disc: od,\n    turn_text: turnText,\n    session_id: sessionId\n  }\n}];"
      },
      "id": "683c9e0f-ca4e-4ffd-b7e0-a6051c8ed158",
      "name": "Parse Detection JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -96
      ]
    },
    {
      "parameters": {
        "functionCode": "// Map discrete OCEAN to behavior prompts\nconst od = $json.ocean_disc || { O:0,C:0,E:0,A:0,N:0 };\nconst dirs = [];\n// Security (N)\nif (od.N === -1) dirs.push('offer extra comfort; acknowledge anxieties');\nif (od.N === 1)  dirs.push('reassure stability and confidence');\n// Arousal (O,E)\nif (od.O === 1) dirs.push('invite small exploration/novelty');\nif (od.O === -1) dirs.push('reduce novelty; focus on familiar');\nif (od.E === 1) dirs.push('use energetic, engaging tone');\nif (od.E === -1) dirs.push('adopt calm, reflective tone');\n// Affiliation (A)\nif (od.A === 1) dirs.push('use warm, collaborative language');\nif (od.A === -1) dirs.push('stay neutral and matter-of-fact');\n// Conscientiousness (C)\nif (od.C === 1) dirs.push('provide 2-3 structured steps');\nif (od.C === -1) dirs.push('keep guidance flexible and low-pressure');\n// Keep concise\nconst directives = dirs.slice(0,5);\nreturn {\n  session_id: $json.session_id,\n  turn_text: $json.turn_text,\n  ocean_disc: od,\n  directives\n};"
      },
      "id": "e3adc0dd-a9b4-4f20-bb95-9c1eef79bbca",
      "name": "Build Regulation Directives (Zurich Model)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1408,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use directives to generate a grounded reply (hard-coded key)\nconst JUGUANG_API_KEY = 'sk-nU7RSKnbZIOwH607r3MfbW5HmP6NIaj1aGVPFGcNDDiL0h5u';\nconst MODEL = 'gemini-1.5-pro';\nconst URL = 'https://ai.juguang.chat/v1/chat/completions';\n\nconst directives = $input.first()?.json?.directives || [];\nlet userText = ($input.first()?.json?.turn_text || '').trim();\nif (!userText) {\n  // Ensure content is not empty to satisfy backend validation\n  userText = 'Please provide a supportive, grounded reply to the user. Context provided separately.';\n}\n\nconst headers = {\n  Authorization: `Bearer ${JUGUANG_API_KEY}`,\n  'Content-Type': 'application/json'\n};\nconst sys = [\n  'You are a supportive assistant. Follow these behavior directives strictly:',\n  JSON.stringify(directives),\n  'Constraints: stay grounded in the user text only; 1-2 questions max; 70-150 words.'\n].join(' ');\n\nconst body = {\n  model: MODEL,\n  messages: [\n    { role: 'system', content: sys },\n    { role: 'user', content: userText }\n  ],\n  temperature: 0.7,\n  max_tokens: 220\n};\n\ntry {\n  const res = await this.helpers.httpRequest({ method: 'POST', url: URL, headers, body, timeout: 20000 });\n  return res;\n} catch (e) {\n  const status = e?.response?.status;\n  const data = e?.response?.data;\n  // Fallback text instead of hard failure when backend requires non-empty contents or similar\n  return {\n    json: {\n      choices: [{ message: { content: 'Sorry—response is temporarily unavailable. Quick tip: take 3 slow breaths and exhale longer than you inhale.' } }],\n      error: { status, data }\n    }\n  };\n}"
      },
      "id": "d6f09df4-4396-48f3-91b0-c5a49a8ba154",
      "name": "Generate Response (Gemini Pro)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -96
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract reply and assemble output payload\nconst reply = $json?.choices?.[0]?.message?.content?.trim() || 'Response unavailable.';\nconst reg = ($items('Build Regulation Directives (Zurich Model)', 'main', 0)?.json) || {};\nreturn {\n  session_id: reg.session_id || '',\n  reply,\n  ocean_disc: reg.ocean_disc || { O:0, C:0, E:0, A:0, N:0 },\n  directives: reg.directives || []\n};"
      },
      "id": "80414a6f-12e1-48be-9dec-2bc616007399",
      "name": "Format Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1840,
        -96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Ingest (Per-turn, no smoothing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest (Per-turn, no smoothing)": {
      "main": [
        [
          {
            "node": "Detect OCEAN (Discrete, Gemini Pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect OCEAN (Discrete, Gemini Pro)": {
      "main": [
        [
          {
            "node": "Parse Detection JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Detection JSON": {
      "main": [
        [
          {
            "node": "Build Regulation Directives (Zurich Model)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Regulation Directives (Zurich Model)": {
      "main": [
        [
          {
            "node": "Generate Response (Gemini Pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response (Gemini Pro)": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dfc1f0e-aa58-426e-9ceb-3865678789ea",
  "meta": {
    "instanceId": "d89794e06cc2305b770e1dc943eb7ff194d272f0e1f67dd864b5ba2d2d08831a"
  },
  "id": "zoTnpTlfkicHHF66",
  "tags": []
}