thesis project/pmt/MVP/workflows/My workflow 5 (2).json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "id": "221bd71b-08d0-4705-827a-8bf7892d1772",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        368,
        -96
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"session_id\": \"f47ac10b-58cc-4372-a567-0e02b2c3d479\",\n  \"message\": \"Give me a supportive tip for my presentation anxiety.\"\n}",
        "options": {}
      },
      "id": "bd6de7e6-177d-4716-b12a-bb36dde1117e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -96
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract per-turn fields only (no history weighting)\nconst b = $json || {};\nconst sessionId = b.session_id || 'f47ac10b-58cc-4372-a567-0e02b2c3d479';\nconst msg = String(b.message || '').trim();\nreturn {\n  session_id: sessionId,\n  clean_msg: msg,\n  // per Samuel: detect on turn text; allow optional last-N in future\n  conversation_context: `user: ${msg}`\n};"
      },
      "id": "7888002b-8626-46d7-89a5-5d67349dd68e",
      "name": "Ingest (Per-turn, no smoothing)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        768,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "const apiKey = 'sk-nU7RSKnbZIOwH607r3MfbW5HmP6NIaj1aGVPFGcNDDiL0h5u';\nconst model = 'gemini-1.5-pro';\nconst url = 'https://ai.juguang.chat/v1/chat/completions';\nconst ctx = String($input.first().json.conversation_context || '').trim();\n\nif (!ctx) {\n  return [{ json: { choices: [{ message: { content: '{\"ocean_disc\":{\"O\":0,\"C\":0,\"E\":0,\"A\":0,\"N\":0}}' } }] } }];\n}\n\nconst headers = {\n  'Authorization': `Bearer ${apiKey}`,\n  'Content-Type': 'application/json'\n};\n\nconst body = {\n  model: model,\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a personality detector. Infer Big Five from the user text for THIS TURN ONLY. Return JSON ONLY exactly as: {\"ocean_disc\":{\"O\":-1|0|1,\"C\":-1|0|1,\"E\":-1|0|1,\"A\":-1|0|1,\"N\":-1|0|1}} No prose.'\n    },\n    {\n      role: 'user',\n      content: `Text: ${ctx}`\n    }\n  ],\n  temperature: 0.1,\n  max_tokens: 200\n};\n\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'POST',\n    url: url,\n    headers: headers,\n    body: body,\n    timeout: 20000\n  });\n  return [{ json: res.json || res }];\n} catch (error) {\n  return [{ json: { choices: [{ message: { content: '{\"ocean_disc\":{\"O\":0,\"C\":0,\"E\":0,\"A\":0,\"N\":0}}' } }], error: error.message } }];\n}"
      },
      "id": "0dc686cd-04ac-4dd1-be1e-8bb23718c385",
      "name": "Detect OCEAN (Discrete, Gemini Pro)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the detection result from Detect OCEAN node\nconst det = $input.first()?.json || {};\nconst raw = det?.choices?.[0]?.message?.content ?? '';\n\n// Get the session data from the previous workflow execution items\nconst ingestData = $items('Ingest (Per-turn, no smoothing)', 'main', 0)?.json || {};\n\n// Debug: Check all available items\nconsole.log('Parse Detection - All available items:', JSON.stringify($items()));\nconsole.log('Parse Detection - Ingest items specifically:', JSON.stringify($items('Ingest (Per-turn, no smoothing)')));\n\nconsole.log('Parse Detection - Detection result:', JSON.stringify(det));\nconsole.log('Parse Detection - Ingest data:', JSON.stringify(ingestData));\nconsole.log('Parse Detection - Raw API response content:', raw);\n\nlet parsed = {};\ntry {\n  // First try to parse the raw content directly\n  parsed = JSON.parse(raw);\n} catch (e) {\n  // If that fails, try to extract JSON from the content\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      console.log('Failed to parse extracted JSON:', e2.message);\n      parsed = {};\n    }\n  } else {\n    console.log('No JSON found in content:', raw);\n  }\n}\n\nconsole.log('Parse Detection - Parsed object:', JSON.stringify(parsed));\n\n// Extract OCEAN discrete values\nlet oceanDisc = parsed?.ocean_disc;\n\n// If ocean_disc doesn't exist but ocean does, convert continuous to discrete\nif (!oceanDisc && parsed?.ocean) {\n  const thr = 0.2;\n  const o = parsed.ocean;\n  const sign = (v) => (v >= thr ? 1 : (v <= -thr ? -1 : 0));\n  oceanDisc = {\n    O: sign(o.O || 0),\n    C: sign(o.C || 0), \n    E: sign(o.E || 0),\n    A: sign(o.A || 0),\n    N: sign(o.N || 0)\n  };\n}\n\n// Ensure we have a valid oceanDisc object\nconst od = oceanDisc || { O: 0, C: 0, E: 0, A: 0, N: 0 };\n\n// Extract session data from ingest\nconst turnText = ingestData?.clean_msg || '';\nconst sessionId = ingestData?.session_id || '';\n\nconsole.log('Parse Detection - Final ocean_disc values:', JSON.stringify(od));\nconsole.log('Parse Detection - Session ID:', sessionId);\nconsole.log('Parse Detection - Turn text:', turnText);\n\nreturn [{\n  json: {\n    ocean_disc: od,\n    turn_text: turnText,\n    session_id: sessionId\n  }\n}];"
      },
      "id": "683c9e0f-ca4e-4ffd-b7e0-a6051c8ed158",
      "name": "Parse Detection JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        -96
      ]
    },
    {
      "parameters": {
        "functionCode": "// Map discrete OCEAN to behavior prompts\nconst inputData = $json || {};\nconst od = inputData.ocean_disc || { O:0,C:0,E:0,A:0,N:0 };\nconst sessionId = inputData.session_id || '';\nconst turnText = inputData.turn_text || '';\n\nconst dirs = [];\n// Security (N)\nif (od.N === -1) dirs.push('offer extra comfort; acknowledge anxieties');\nif (od.N === 1)  dirs.push('reassure stability and confidence');\n// Arousal (O,E)\nif (od.O === 1) dirs.push('invite small exploration/novelty');\nif (od.O === -1) dirs.push('reduce novelty; focus on familiar');\nif (od.E === 1) dirs.push('use energetic, engaging tone');\nif (od.E === -1) dirs.push('adopt calm, reflective tone');\n// Affiliation (A)\nif (od.A === 1) dirs.push('use warm, collaborative language');\nif (od.A === -1) dirs.push('stay neutral and matter-of-fact');\n// Conscientiousness (C)\nif (od.C === 1) dirs.push('provide 2-3 structured steps');\nif (od.C === -1) dirs.push('keep guidance flexible and low-pressure');\n// Keep concise\nconst directives = dirs.slice(0,5);\n\nconsole.log('Regulation - Raw input data:', JSON.stringify(inputData));\nconsole.log('Regulation - Session ID extracted:', sessionId);\nconsole.log('Regulation - Turn text extracted:', turnText);\nconsole.log('Regulation - OCEAN disc:', JSON.stringify(od));\nconsole.log('Regulation - Directives:', JSON.stringify(directives));\n\nreturn {\n  session_id: sessionId,\n  turn_text: turnText,\n  ocean_disc: od,\n  directives\n};"
      },
      "id": "e3adc0dd-a9b4-4f20-bb95-9c1eef79bbca",
      "name": "Build Regulation Directives (Zurich Model)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1408,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use directives to generate a grounded reply (hard-coded key)\nconst JUGUANG_API_KEY = 'sk-nU7RSKnbZIOwH607r3MfbW5HmP6NIaj1aGVPFGcNDDiL0h5u';\nconst MODEL = 'gemini-1.5-pro';\nconst URL = 'https://ai.juguang.chat/v1/chat/completions';\n\n// Extract all data from the regulation input\nconst inputData = $input.first()?.json || {};\nconst directives = inputData?.directives || [];\nconst sessionId = inputData?.session_id || '';\nconst turnText = inputData?.turn_text || '';\nconst oceanDisc = inputData?.ocean_disc || { O:0, C:0, E:0, A:0, N:0 };\n\nconsole.log('Generate Response - Input data:', JSON.stringify(inputData));\nconsole.log('Generate Response - Ocean disc:', JSON.stringify(oceanDisc));\nconsole.log('Generate Response - Session ID:', sessionId);\nconsole.log('Generate Response - Turn text:', turnText);\n\nlet userText = turnText.trim();\nif (!userText) {\n  // Ensure content is not empty to satisfy backend validation\n  userText = 'Please provide a supportive, grounded reply to the user. Context provided separately.';\n}\n\nconst headers = {\n  Authorization: `Bearer ${JUGUANG_API_KEY}`,\n  'Content-Type': 'application/json'\n};\nconst sys = [\n  'You are a supportive assistant. Follow these behavior directives strictly:',\n  JSON.stringify(directives),\n  'Constraints: stay grounded in the user text only; 1-2 questions max; 70-150 words.'\n].join(' ');\n\nconst body = {\n  model: MODEL,\n  messages: [\n    { role: 'system', content: sys },\n    { role: 'user', content: userText }\n  ],\n  temperature: 0.7,\n  max_tokens: 220\n};\n\ntry {\n  const res = await this.helpers.httpRequest({ method: 'POST', url: URL, headers, body, timeout: 20000 });\n  \n  console.log('Generate Response - Raw API response:', JSON.stringify(res));\n  console.log('Generate Response - API response json:', JSON.stringify(res.json));\n  \n  // Handle different response structures\n  const apiResponse = res.json || res || {};\n  \n  const responseData = {\n    // Preserve all API response fields first\n    ...apiResponse,\n    // Then add our session data (will override if conflicts)\n    session_id: sessionId,\n    turn_text: turnText,\n    ocean_disc: oceanDisc,\n    directives: directives\n  };\n  \n  console.log('Generate Response - Final response data:', JSON.stringify(responseData));\n  \n  // Include session data in the response while preserving full API response\n  return {\n    json: responseData\n  };\n} catch (e) {\n  const status = e?.response?.status;\n  const data = e?.response?.data;\n  \n  // Fallback text with session data included\n  return {\n    json: {\n      choices: [{ message: { content: 'Sorry—response is temporarily unavailable. Quick tip: take 3 slow breaths and exhale longer than you inhale.' } }],\n      error: { status, data },\n      session_id: sessionId,\n      turn_text: turnText,\n      ocean_disc: oceanDisc,\n      directives: directives\n    }\n  };\n}"
      },
      "id": "d6f09df4-4396-48f3-91b0-c5a49a8ba154",
      "name": "Generate Response (Gemini Pro)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -96
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract reply and assemble clean output payload\nconst generateData = $json || {};\nconst reply = generateData?.choices?.[0]?.message?.content?.trim() || 'Response unavailable.';\n\n// Get regulation data for fallback session info\nconst reg = ($items('Build Regulation Directives (Zurich Model)', 'main', 0)?.json) || {};\n\nconsole.log('Format Output - Generate data received:', JSON.stringify({\n  session_id: generateData.session_id,\n  turn_text: generateData.turn_text,\n  ocean_disc: generateData.ocean_disc,\n  has_choices: !!generateData.choices\n}));\nconsole.log('Format Output - Regulation fallback data:', JSON.stringify({\n  session_id: reg.session_id,\n  turn_text: reg.turn_text,\n  ocean_disc: reg.ocean_disc\n}));\n\n// Return clean format with just the 4 main fields\nreturn {\n  session_id: generateData.session_id || reg.session_id || '',\n  reply,\n  turn_text: generateData.turn_text || reg.turn_text || '',\n  ocean_disc: generateData.ocean_disc || reg.ocean_disc || { O:0, C:0, E:0, A:0, N:0 }\n};"
      },
      "id": "80414a6f-12e1-48be-9dec-2bc616007399",
      "name": "Format Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1840,
        -96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Ingest (Per-turn, no smoothing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest (Per-turn, no smoothing)": {
      "main": [
        [
          {
            "node": "Detect OCEAN (Discrete, Gemini Pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect OCEAN (Discrete, Gemini Pro)": {
      "main": [
        [
          {
            "node": "Parse Detection JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Detection JSON": {
      "main": [
        [
          {
            "node": "Build Regulation Directives (Zurich Model)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Regulation Directives (Zurich Model)": {
      "main": [
        [
          {
            "node": "Generate Response (Gemini Pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response (Gemini Pro)": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dfc1f0e-aa58-426e-9ceb-3865678789ea",
  "meta": {
    "instanceId": "d89794e06cc2305b770e1dc943eb7ff194d272f0e1f67dd864b5ba2d2d08831a"
  },
  "id": "zoTnpTlfkicHHF66",
  "tags": []
}